@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p5f68f');
  src:  url('fonts/icomoon.eot?p5f68f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p5f68f') format('truetype'),
    url('fonts/icomoon.woff?p5f68f') format('woff'),
    url('fonts/icomoon.svg?p5f68f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cup:before {
  content: "\e970";
}
.icon-x6:before {
  content: "\e903";
}
.icon-x12_mini:before {
  content: "\e904";
}
.icon-x24_mini:before {
  content: "\e925";
}
.icon-x50_mini:before {
  content: "\e926";
}
.icon-x18_mini:before {
  content: "\e927";
}
.icon-x36_mini:before {
  content: "\e945";
}
.icon-x6_mini:before {
  content: "\e958";
}
.icon-x24:before {
  content: "\e969";
}
.icon-x3_mini:before {
  content: "\e96a";
}
.icon-x36:before {
  content: "\e96b";
}
.icon-x3:before {
  content: "\e96c";
}
.icon-x18:before {
  content: "\e96d";
}
.icon-x50:before {
  content: "\e96e";
}
.icon-x12:before {
  content: "\e96f";
}
.icon-megaofertas_hs:before {
  content: "\e968";
}
.icon-menu:before {
  content: "\e967";
}
.icon-automotriz_hs:before {
  content: "\e95c";
}
.icon-varios_hs:before {
  content: "\e95d";
}
.icon-bebes_hs:before {
  content: "\e95e";
}
.icon-alimentos_hs:before {
  content: "\e95f";
}
.icon-deportes_hs:before {
  content: "\e960";
}
.icon-muebles_hs:before {
  content: "\e961";
}
.icon-servicios_hs:before {
  content: "\e962";
}
.icon-viajes_hs:before {
  content: "\e963";
}
.icon-cosmetica_hs:before {
  content: "\e964";
}
.icon-electro_hs:before {
  content: "\e965";
}
.icon-indumentaria_hs:before {
  content: "\e966";
}
.icon-left_5:before {
  content: "\e920";
}
.icon-right_5:before {
  content: "\e921";
}
.icon-up_5:before {
  content: "\e922";
}
.icon-down_5:before {
  content: "\e923";
}
.icon-shirt:before {
  content: "\e953";
}
.icon-tv:before {
  content: "\e954";
}
.icon-picture:before {
  content: "\e955";
}
.icon-breackfast:before {
  content: "\e956";
}
.icon-shoe_2:before {
  content: "\e957";
}
.icon-facebook_2:before {
  content: "\e952";
}
.icon-right_4:before {
  content: "\e94d";
}
.icon-down_4:before {
  content: "\e94e";
}
.icon-left_4:before {
  content: "\e950";
}
.icon-up_4:before {
  content: "\e951";
}
.icon-dress:before {
  content: "\e946";
  color: #203d65;
}
.icon-discount:before {
  content: "\e947";
}
.icon-tickets:before {
  content: "\e948";
}
.icon-coffee-machine:before {
  content: "\e949";
}
.icon-smartphone:before {
  content: "\e94a";
}
.icon-shoe:before {
  content: "\e94b";
  color: #203d65;
}
.icon-fast-food:before {
  content: "\e94c";
  color: #203d65;
}
.icon-cace:before {
  content: "\e944";
}
.icon-share:before {
  content: "\e94f";
}
.icon-whatsapp_2:before {
  content: "\e943";
}
.icon-card:before {
  content: "\e942";
}
.icon-list:before {
  content: "\e93e";
}
.icon-messenger:before {
  content: "\e93f";
  color: #0084ff;
}
.icon-column:before {
  content: "\e940";
}
.icon-whatsapp:before {
  content: "\e941";
  color: #7ad06d;
}
.icon-filter:before {
  content: "\e93a";
}
.icon-list_mobile:before {
  content: "\e93b";
}
.icon-column_mobile:before {
  content: "\e93c";
}
.icon-sale:before {
  content: "\e93d";
}
.icon-close_3:before {
  content: "\e939";
}
.icon-check-mark:before {
  content: "\e937";
}
.icon-black-check-box:before {
  content: "\e938";
}
.icon-chat:before {
  content: "\e936";
}
.icon-hot:before {
  content: "\e92e";
}
.icon-price-tag:before {
  content: "\e933";
}
.icon-shopping_3:before {
  content: "\e92f";
}
.icon-servicios:before {
  content: "\e930";
}
.icon-close_2:before {
  content: "\e931";
}
.icon-out:before {
  content: "\e932";
}
.icon-go_shopping:before {
  content: "\e934";
}
.icon-send:before {
  content: "\e935";
}
.icon-left_3:before {
  content: "\e929";
}
.icon-right_3:before {
  content: "\e92b";
}
.icon-top_3:before {
  content: "\e92c";
}
.icon-down_3:before {
  content: "\e92d";
}
.icon-close:before {
  content: "\e928";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-left_2:before {
  content: "\e92a";
}
.icon-up:before {
  content: "\e918";
}
.icon-down:before {
  content: "\e919";
}
.icon-promociones:before {
  content: "\e917";
}
.icon-zoom:before {
  content: "\e905";
}
.icon-automotriz:before {
  content: "\e906";
}
.icon-bebes:before {
  content: "\e907";
}
.icon-bebidas:before {
  content: "\e909";
}
.icon-cosmetica:before {
  content: "\e90b";
}
.icon-deportes:before {
  content: "\e90c";
}
.icon-electro:before {
  content: "\e90d";
}
.icon-envio:before {
  content: "\e90e";
}
.icon-indumentaria:before {
  content: "\e90f";
}
.icon-left:before {
  content: "\e910";
}
.icon-megaofertas:before {
  content: "\e911";
}
.icon-muebles:before {
  content: "\e912";
}
.icon-productos_hot:before {
  content: "\e916";
}
.icon-retiro:before {
  content: "\e91a";
}
.icon-right:before {
  content: "\e91b";
}
.icon-shopping_2:before {
  content: "\e91c";
}
.icon-varios:before {
  content: "\e91e";
}
.icon-viajes:before {
  content: "\e91f";
}
.icon-warning:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e902";
}
.icon-megaphone:before {
  content: "\e959";
}
.icon-shopping:before {
  content: "\e95a";
}
.icon-chart:before {
  content: "\e95b";
}
.icon-question:before {
  content: "\e915";
}
.icon-youtube:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-google_plus:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-fiscalizada:before {
  content: "\e914";
}
