<div class="popup fullscreen popup_filtro">
	<form>

		<div class="content">

			<div class="head">
				<button class="apply_btn">Aplicar</button>

				<a class="btn_back" href="javascript:void(0)">
					<span class="sr-only">Volver</span>
					<span class="icon-left_3"></span>
				</a>
			</div>


			<div class="select_content">
				<p>Categoría</p>

				<div class="option_section">

					<!-- data-section es el NOMBRE DE SELECTOR -->

					<button type="button" data-section="smart tv">
						<span class="selected_options">Electro y Tecno</span>
						<span>Cambiar</span>
					</button>

					<div class="options_content simple">
						<label class="check">
							<input name="tipo" type="radio" />
							<span>Viajes</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" checked />
							<span>Electro y Tecno</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Ropa y Calzado</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Muebles y Hogar</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Deportes</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Infantil</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Mascotas</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Belleza</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Alimentos y Bebidas</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Entretenimiento</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Otros / Varios</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Serv. Financieros</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Luxury</span>
						</label>

					</div>
				</div>
			</div>


			<div class="select_content">
				<p>Tipo de producto</p>

				<div class="option_section">

					<!-- data-section es el NOMBRE DE SELECTOR -->

					<button type="button" data-section="smart tv">
						<span class="selected_options">SMART TV</span>
						<span>Cambiar</span>
					</button>

					<div class="options_content simple">
						<label class="check">
							<input name="tipo" type="radio" checked />
							<span>Smart TV</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>LED</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Oled</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>Otros</span>
						</label>
					</div>
				</div>
			</div>


			<div class="select_content">
				<p>Tipo de producto</p>

				<div class="range_input">
					<input type="text" placeholder="Mín" min="0" />
					<span> - </span>
					<input type="text" placeholder="Máx" />

					<button type="submit" disabled >
						<i class="icon-right"></i>
						<span class="sr-only">Aceptar</span>
					</button>
				</div>

			</div>


			<div class="select_content">
				<p>Porcentaje de descuento</p>

				<div class="option_section">

					<!-- data-section es el NOMBRE DE SELECTOR -->

					<button type="button" data-section="Porcentaje de descuento">
						<span class="selected_options">Todos los descuentos</span>

						<span>Cambiar</span>
					</button>


					<div class="options_content simple">
						<label class="check">
							<input type="radio" name="descuentos" checked />
							<i class="discount no_hot">Todos los descuentos</i>
						</label>

						<label class="check">
							<input type="radio" name="descuentos" />
							<i class="discount">+ 80% <strong>DTO</strong></i>
						</label>

						<label class="check">
							<input type="radio" name="descuentos" />
							<i class="discount">+ 70% <strong>DTO</strong></i>
						</label>

						<label class="check">
							<input type="radio" name="descuentos" />
							<i class="discount">+ 60% <strong>DTO</strong></i>
						</label>

						<label class="check">
							<input type="radio" name="descuentos" />
							<i class="discount">+ 50% <strong>DTO</strong></i>
						</label>

						<label class="check">
							<input type="radio" name="descuentos" />
							<i class="discount no_hot">+ 40% <strong>DTO</strong></i>
						</label>

						<label class="check">
							<input type="radio" name="descuentos" />
							<i class="discount no_hot">+ 20% <strong>DTO</strong></i>
						</label>

						<label class="check">
							<input type="radio" name="descuentos" />
							<i class="discount no_hot">+ 10% <strong>DTO</strong></i>
						</label>
					</div>
				</div>

			</div>



			<div class="select_content">
				<p>Meses sin interes</p>

				<div class="option_section">

					<!-- data-section es el NOMBRE DE SELECTOR -->

					<button type="button" data-section="smart tv">
						<span class="selected_options">3 MSI</span>
						<span>Cambiar</span>
					</button>

					<div class="options_content simple">
						<label class="check">
							<input name="tipo" type="radio" checked />
							<span>3 MSI</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>6 MSI</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>9 MSI</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>12 MSI</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>15 MSI</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>18 MSI</span>
						</label>

						<label class="check">
							<input name="tipo" type="radio" />
							<span>24 MSI</span>
						</label>
					</div>
				</div>
			</div>

			
			<a class="btn_limpiar_filtros" href="#">
				<i class="icon-trash"></i>
				<span>Limpiar Filtros</span>
			</a>

		</div>

	</form>

</div>