@font-face {
    font-family: 'Omnes';
    src: url('Omnes-Regular.eot');
    src: url('Omnes-Regular.eot?#iefix') format('embedded-opentype'),
        url('Omnes-Regular.woff2') format('woff2'),
        url('Omnes-Regular.woff') format('woff'),
        url('Omnes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes';
    src: url('Omnes-Black.eot');
    src: url('Omnes-Black.eot?#iefix') format('embedded-opentype'),
        url('Omnes-Black.woff2') format('woff2'),
        url('Omnes-Black.woff') format('woff'),
        url('Omnes-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes';
    src: url('Omnes-Bold.eot');
    src: url('Omnes-Bold.eot?#iefix') format('embedded-opentype'),
        url('Omnes-Bold.woff2') format('woff2'),
        url('Omnes-Bold.woff') format('woff'),
        url('Omnes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes';
    src: url('Omnes-Light.eot');
    src: url('Omnes-Light.eot?#iefix') format('embedded-opentype'),
        url('Omnes-Light.woff2') format('woff2'),
        url('Omnes-Light.woff') format('woff'),
        url('Omnes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes';
    src: url('Omnes-Semibold.eot');
    src: url('Omnes-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Omnes-Semibold.woff2') format('woff2'),
        url('Omnes-Semibold.woff') format('woff'),
        url('Omnes-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

