@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Ultra.eot');
    src: url('Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Ultra.woff2') format('woff2'),
        url('Gotham-Ultra.woff') format('woff'),
        url('Gotham-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('GothamLight.eot');
    src: url('GothamLight.eot?#iefix') format('embedded-opentype'),
        url('GothamLight.woff2') format('woff2'),
        url('GothamLight.woff') format('woff'),
        url('GothamLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/*@font-face {
    font-family: 'Gotham';
    src: url('GothamUltra-Italic.eot');
    src: url('GothamUltra-Italic.eot?#iefix') format('embedded-opentype'),
        url('GothamUltra-Italic.woff2') format('woff2'),
        url('GothamUltra-Italic.woff') format('woff'),
        url('GothamUltra-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}*/

@font-face {
    font-family: 'Gotham';
    src: url('gotham_mediumregular.eot');
    src: url('gotham_mediumregular.eot?#iefix') format('embedded-opentype'),
        url('gotham_mediumregular.woff2') format('woff2'),
        url('gotham_mediumregular.woff') format('woff'),
        url('gotham_mediumregular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('GothamBook.eot');
    src: url('GothamBook.eot?#iefix') format('embedded-opentype'),
        url('GothamBook.woff2') format('woff2'),
        url('GothamBook.woff') format('woff'),
        url('GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('GothamBold.eot');
    src: url('GothamBold.eot?#iefix') format('embedded-opentype'),
        url('GothamBold.woff2') format('woff2'),
        url('GothamBold.woff') format('woff'),
        url('GothamBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}