@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mqkwfo');
  src:  url('fonts/icomoon.eot?mqkwfo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mqkwfo') format('truetype'),
    url('fonts/icomoon.woff?mqkwfo') format('woff'),
    url('fonts/icomoon.svg?mqkwfo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e91e";
}
.icon-ventas:before {
  content: "\e91f";
}
.icon-visitantes:before {
  content: "\e924";
}
.icon-visitas:before {
  content: "\e925";
}
.icon-ordenes:before {
  content: "\e926";
}
.icon-tasa:before {
  content: "\e927";
}
.icon-12msi:before {
  content: "\e93c";
}
.icon-15msi:before {
  content: "\e93d";
}
.icon-18msi:before {
  content: "\e93e";
}
.icon-24msi:before {
  content: "\e93f";
}
.icon-3msi:before {
  content: "\e940";
}
.icon-6msi:before {
  content: "\e941";
}
.icon-9msi:before {
  content: "\e942";
}
.icon-muebles:before {
  content: "\e93b";
}
.icon-instagram:before {
  content: "\e93a";
}
.icon-filter:before {
  content: "\e92a";
}
.icon-to_top:before {
  content: "\e929";
}
.icon-share:before {
  content: "\e923";
}
.icon-ok:before {
  content: "\e920";
}
.icon-facebook_2:before {
  content: "\e921";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-cross:before {
  content: "\e91c";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-left:before {
  content: "\e90d";
}
.icon-right:before {
  content: "\e90e";
}
.icon-up:before {
  content: "\e90f";
}
.icon-shopping:before {
  content: "\e910";
}
.icon-secure:before {
  content: "\e911";
}
.icon-list:before {
  content: "\e912";
}
.icon-down_2:before {
  content: "\e914";
}
.icon-left_2:before {
  content: "\e915";
}
.icon-up_2:before {
  content: "\e916";
}
.icon-down:before {
  content: "\e917";
}
.icon-right_2:before {
  content: "\e918";
}
.icon-location:before {
  content: "\e900";
}
.icon-info:before {
  content: "\e901";
}
.icon-amvo_tag:before {
  content: "\e903";
}
.icon-preventa_tag:before {
  content: "\e904";
}
.icon-servicios:before {
  content: "\e905";
}
.icon-tiendas:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-twitter_2:before {
  content: "\e908";
}
.icon-varios:before {
  content: "\e909";
}
.icon-viajes:before {
  content: "\e90a";
}
.icon-alimentos:before {
  content: "\e913";
}
.icon-belleza:before {
  content: "\e91a";
}
.icon-check:before {
  content: "\e91b";
}
.icon-check_mark:before {
  content: "\e922";
}
.icon-deportes:before {
  content: "\e92e";
}
.icon-electro:before {
  content: "\e92f";
}
.icon-entretenimiento:before {
  content: "\e930";
}
.icon-infantil:before {
  content: "\e932";
}
.icon-luxury:before {
  content: "\e933";
}
.icon-mascotas:before {
  content: "\e934";
}
.icon-megaofertas:before {
  content: "\e935";
}
.icon-preventa:before {
  content: "\e936";
}
.icon-productos_hot:before {
  content: "\e937";
}
.icon-ropa:before {
  content: "\e938";
}
.icon-filter_2:before {
  content: "\e97d";
}
.icon-right_3:before {
  content: "\e979";
}
.icon-down_3:before {
  content: "\e97a";
}
.icon-left_3:before {
  content: "\e97b";
}
.icon-up_3:before {
  content: "\e97c";
}
.icon-tick:before {
  content: "\e972";
}
.icon-menu:before {
  content: "\e967";
}
.icon-right_4:before {
  content: "\e94d";
}
.icon-down_4:before {
  content: "\e94e";
}
.icon-left_4:before {
  content: "\e950";
}
.icon-up_4:before {
  content: "\e951";
}
.icon-cross_4:before {
  content: "\e939";
}
.icon-cross_3:before {
  content: "\e931";
}
.icon-cross_2:before {
  content: "\e92b";
}
.icon-left_5:before {
  content: "\e92c";
}
.icon-right_5:before {
  content: "\e978";
}
.icon-warning:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e902";
}
.icon-help:before {
  content: "\e919";
}
