@media ( min-width: 400px ){

	footer .footer_seo .seo_content li {
		display: inline-block;
		width: 50%
	}

	footer .sitemap .column.c_promociones ul {
		width: 50%;
		display: inline-block;
		vertical-align: top
	}

	.brand_list_wrapper .item {
		width: calc(25% - 1px);
	}


}




@media ( min-width: 580px ){

	.headband {
		margin-bottom: 3%
	}

	.brand_group {
		margin-left: -1%;
		margin-right: -1%
	}

	.brand_group .marca {
		width: 31.33%;
		margin-right: 1%;
		margin-left: 1%;
	    margin-bottom: 2%
	}

	.brand_group .headband {
		width: calc(100% - 2%)
	}





	.sku {
		width: 48%;
		margin: 0 1% 20px;
		display: inline-block;
		vertical-align: top
	}

	.sku .img {
		position: relative;
		max-width: 100%;
		padding: 0
	}

	.sku img {
		border-radius: 10px 10px 0 0;
		max-height: initial
	}

	.sku .info_content {
		left: 0;
		width: 100%
	}

	.sku .info .brand_title {
		margin-left: 0
	}

	.sku .features {
		width: 100%
	}

	.sku .info .description {
		height: auto
	}

	.sku.sku_mo .sku_content {
		background: black
	}

	.sku.sku_mo .img_content {
		position: static
	}

	.sku.sku_mo .btn_oferta {
		border-radius: 5px
	}


	.sku.sku_mo .img:before {
		content: ''
	}

	.sku.sku_mo .img_content:before {
		content: normal
	}

	.sku.sku_mo .img_content {
		position: absolute
	}

	.sku.sku_mo .img {
		position: absolute;
		max-width: 100%;
		width: 100%
	}

	.sku.sku_mo img {
		width: 100%;
		height: auto;
		border-radius: 10px
	}

	.sku.sku_mo .info {
		padding-left: 10px;
		padding-top: 83%;
	    position: relative;
    	z-index: 1
	}

	.sku.sku_mo .info .brand_title {
		background-color: rgba(255, 255, 255, 0.2)
	}

	.sku.sku_mo .features .discount {
		color: white
	}

	.sku.sku_mo .features .fee {
		color: #fa563b
	}


}



@media ( min-width: 768px ){

	.header {
		background: #fa4f3f;
			background: -webkit-linear-gradient(left, #fa4f3f 0%, #ffc600 100%);
			background: -moz-linear-gradient(left, #fa4f3f 0%, #ffc600 100%);
			background: -ms-linear-gradient(left, #fa4f3f 0%, #ffc600 100%);
		background: linear-gradient(to right, #fa4f3f 0%, #ffc600 100%);
	}

	.header .logo a img {
		height: 115px
	}

	.pre_header {
		display: block
	}

	.header .cabecera {
		padding: 15px 0;
		padding-top: 10px
	}

	.cabecera .block_sponsor span {
		font-size: 9px;
		color: #222223 !important
	}

	.cabecera .timer > div strong {
		color: #f8ff3c
	}

	.cabecera .btn_menu {
		display: none
	}

	.cabecera .block_sponsor span {
		margin-top: 20px
	}

	.powered_by .sponsor {
		width: 25%
	}

	footer .footer_seo .seo_content li {
		width: 33.33%
	}

	.countdown_box {
		margin-bottom: 30px
	}

	.banner > .container:before {
		height: 255px
	}

	#home .banner {
		padding-top: 1px
	}


	.pre_header .block_1 {
		width: 50%;
		text-align: left
	}

	.pre_header .social ul li a {
		font-size: 16px;
		color: black;
		padding: 0 3px
	}

	.cabecera .block_sponsor img {
    	max-width: 160px
	}



	.title_block {
		padding-top: 17px
	}

	.title_block .title {
		font-size: 22px;
		line-height: 15px;
		font-weight: normal
	}

	.title_block .subtitle {
		font-size: 20px;
		line-height: 15px
	}

	.title_block .title strong,
	.title_block .subtitle strong {
		font-weight: 600
	}





	.marcas .slide_content {
		margin-top: 5px
	}

	.productos_hot .slide_content {
		margin-top: 0
	}

	.slide_content .row {
		margin-right: -30px;
		margin-left: -30px
	}

	.brand_wrapper .title_head {
		padding: 9px 0;
		height: 41px
	}
	
	.brand_wrapper .title_head a {
		font-size: 13px
	}


	.megaofertas .slide_content .owl-carousel .owl-nav > div.owl-prev {
		left: -35px
	}

	.megaofertas .slide_content .owl-carousel .owl-nav > div.owl-next {
		right: -35px
	}



	.megaofertas .megaofertas_head .owl-nav > div.owl-prev,
	.megaofertas .megaofertas_head .owl-nav > div.owl-next {
		background: #1e39ac;
		background-image: none !important;
		border-color: #151e94
	}

	.megaofertas .megaofertas_head .owl-nav > div.owl-prev span,
	.megaofertas .megaofertas_head .owl-nav > div.owl-next span {
		color: white
	}


	.megaofertas .megaofertas_head .owl-nav > div.owl-prev:hover,
	.megaofertas .megaofertas_head .owl-nav > div.owl-next:hover {
		background: #0f2997
	}




	.megaofertas .megaofertas_body .owl-nav > div.owl-prev,
	.megaofertas .megaofertas_body .owl-nav > div.owl-next {
		background: #157cc7;
		background-image: none !important;
		border-color: #105180
	}

	.megaofertas .megaofertas_body .owl-nav > div.owl-prev span,
	.megaofertas .megaofertas_body .owl-nav > div.owl-next span {
		color: white
	}


	.megaofertas .megaofertas_body .owl-nav > div.owl-prev:hover,
	.megaofertas .megaofertas_body .owl-nav > div.owl-next:hover {
		background: #126aaa
	}



	.megaofertas .megaofertas_head .slide_content .owl-carousel .owl-nav > div.owl-prev,
	.megaofertas .megaofertas_head .slide_content .owl-carousel .owl-nav > div.owl-next {
		margin-top: 7px
	}


	.megaofertas .megaofertas_head .owl-carousel .owl-item {
		margin-top: 19px
	}


	.megaofertas .megaofertas_head div.marca {
		width: 150px
	}

	.megaofertas .megaofertas_head div.marca.active {
		width: 250px
	}

	.megaofertas .megaofertas_head div.marca.active .img_marca {
		border-width: 10px
	}




	#categoria .banner .text {
		font-size: 28px;
		line-height: 40px;
		max-width: 520px;
		padding-bottom: 60px;
		margin: 35px 0;
		margin-top: 15px;
		min-height: 120px;
	}

	#categoria .banner .container:before {
		background-image: url('../imgs/iconos/banner_categoria.png');
		width: 470px;
		height: 218px
	}

	#categoria .marcas.marcas_black:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 14px;
		background: url('../imgs/iconos/sombra_bottom_2.png') center top repeat-x
	}

	#categoria .marcas.marcas_black .titulo {
		font-size: 20px;
		max-width: initial;
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: 900
	}



	.productos_content {
		padding-right: 0
	}



	.banner_top .owl-carousel .owl-nav .owl-prev,
	.banner_top .owl-carousel .owl-nav .owl-next {
		margin-top: -7px
	}

	.banner_top .owl-carousel .owl-nav .owl-prev {
		left: -40px !important
	}

	.banner_top .owl-carousel .owl-nav .owl-next {
		right: -40px !important
	}



	.brand_list_wrapper .item {
		width: calc(20% - 1px);
	}


	.sku {
		width: 31.33%
	}


	#interna_tienda .title_block {
	    padding: 25px 0 17px;
	    text-align: left
    }

    #interna_tienda .title_block .container {
	    padding-left: 215px
    }

	#interna_tienda .brand_block {
	    margin-top: -70px;
		margin-left: 0;
		margin-right: 0
	}

	#interna_tienda div.marca .img_marca > div {
		bottom: 2px
	}


	#interna_tienda .brand_info {
		position: relative;
        min-height: 135px;
	    padding-bottom: 30px;
		padding-left: calc(25% + 15px)
	}

	#interna_tienda .info_title_block {
		position: absolute;
		top: 10px;
		left: 0;
	}


}



@media ( min-width: 800px ){


	#home .productos_hot .slide_content .row {
		margin-left: -40px;
		margin-right: -40px
	}

}




@media ( min-width: 992px ){

	.scroll_msg {
		display: block
	}

	.mobile_screen {
		display: none !important
	}

	.desktop_screen {
		display: block !important
	}

	.header .logo {
		width: 40%;
		text-align: center;
		margin: 0
	}

	.cabecera .timer_wrapper {
		width: 30%;
		margin: 0;
		display: inline-block
	}

	.cabecera .timer_content {
	    font-size: 15px;
    	line-height: 15px;
    	color: white;
		text-align: left
	}

	#home .cabecera .timer_content {
		font-size: 18px;
	    line-height: 18px
	}

	.cabecera .timer_content span {
		font-size: inherit
	}

	.cabecera .timer_content p {
		display: block
	}

	.cabecera .block_sponsor {
		width: 30%;
		text-align: right;
		padding-right: 0
	}

	.cabecera .block_sponsor img {
		max-width: 200px
	}

	#home .cabecera .timer_wrapper {
		margin-top: 0
	}

	#home .scroll_msg {
		bottom: 160px
	}

	#home.preventa .banner > .container:before {
		background-position: center bottom;
		background-size: auto
	}

	.powered_by.fixed .sponsors_button {
		transform: none;
		left: initial;
		right: 200px
	}

	.powered_by h3 {
		margin-bottom: 30px
	}

	.powered_by .sponsor.principal {
		width: 35%;
		padding-right: 10%
	}

	.powered_by .sponsor {
		width: 16%
	}

	footer .social_block {
		background-color: white
	}

	footer .footer_1 {
		padding-bottom: 0
	}

	footer .footer_1:before,
	footer .footer_1:after {
		content: normal
	}



	footer .footer_1 .initiative {
		margin: 30px auto
	}

	footer .footer_2 {
		padding-top: 15px
	}

	footer .footer_2 .board {
		padding-left: 140px
	}

	footer .sitemap {
		margin-left: -15px;
		margin-right: -15px
	}

	footer .sitemap .title {
		cursor: default;
		padding: 0
	}

	footer .sitemap .title:not(.no_dropdown):before,
	footer .sitemap .title:not(.no_dropdown):after {
		content: normal
	}

	footer .sitemap .column {
		padding: 0 15px
	}

	footer .sitemap .column:before {
		content: normal
	}

	footer .sitemap .column .links {
		display: block !important;
		padding-top: 10px
	}

	footer .sitemap .column.c_hotsale {
		width: 27%
	}

	footer .sitemap .c_hotsale li {
		margin: 20px 0;
	}

	footer .sitemap .c_hotsale li a {
		font-size: 14px
	}

	footer .sitemap .column.c_accesos_utiles {
		width: 29%
	}

	footer .sitemap .c_accesos_utiles ul li {
		margin-bottom: 18px
	}

	footer .sitemap .c_accesos_utiles ul a {
		font-size: 14px
	}

	footer .sitemap .column.c_social {
		text-align: right;
		display: inline-block !important;
		width: 14%;
		padding-left: 0
	}

	footer .sitemap .column.c_social .social {
		margin-bottom: 10px;
		margin-top: 15px
	}

	footer .sitemap .column.c_social .social ul {
		display: block
	}

	footer .sitemap .column.c_social .social li {
		padding-right: 0;
		padding-left: 5px
	}

	footer .sitemap .column.c_social .social li:first-child {
		padding-left: 0
	}

	footer .sitemap .column.c_social .social a {
		color: white;
		font-size: 18px
	}

	footer .baseboard .copyright {
		width: 40%;
		text-align: left
	}

	footer .baseboard .collaborators {
		width: 60%;
		text-align: right
	}

	footer .baseboard div span {
		display: inline-block;
		vertical-align: middle;
		margin: 5px 0;
		margin-left: 15px
	}

	footer .baseboard div span:first-child {
		margin: 0
	}

	footer .sitemap .column.c_promociones {
		width: 29%
	}

	footer.type_2 .footer_1:before {
		content: '';
		height: 1px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-background: repeating-linear-gradient(-90deg, transparent, transparent 6px, #1d098d 6px, #1d098d 10px);
		-moz-background: repeating-linear-gradient(-90deg, transparent, transparent 6px, #1d098d 6px, #1d098d 10px);
		-ms-background: repeating-linear-gradient(-90deg, transparent, transparent 6px, #1d098d 6px, #1d098d 10px);
		background: repeating-linear-gradient(-90deg, transparent, transparent 6px, #1d098d 6px, #1d098d 10px);
	}

	footer.type_2 .footer_1:after {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 21px;
		background: url('../imgs/iconos/shadow_top.png');
		background-size: 100% 21px
	}



	footer .footer_seo .seo_content li {
		width: 25%
	}


	.newsletter_bar .title {
		text-align: right;
		width: 22%;
		margin-right: 1%;
		font-size: 9px
	}

	.newsletter_bar .title strong {
		font-size: 12px
	}

	.newsletter_bar form {
		width: 75%
	}

	.newsletter_bar form > div {
		width: 31%;
		margin: 0;
		align-self: baseline
	}

	.newsletter_bar form > .check_terminos {
		width: 18%;
		padding-right: 0;
		padding-left: 1%
	}

	.newsletter_bar form > .check_terminos span {
		font-size: 10px !important;
		margin: 0 !important
	}

	.newsletter_bar form > .submit_block {
		width: 18%;
		padding: 0;
		text-align: right
	}

	.newsletter_bar .newsletter_btn {
		display: none
	}

	.newsletter_bar .newsletter_wrapper {
		padding: 8px 0;
		display: block !important
	}


	.newsletter_bar form > div {
		position: relative;
		z-index: 1
	}

	.newsletter_bar form .msg {
		position: absolute;
		top: 100%;
		left: 7px
	}

	.newsletter_bar form .check_terminos .msg {
		margin-top: 10px !important
	}

	.newsletter_bar .form > label,
	.newsletter_bar .form > div {
		padding-left: 7px;
	    padding-right: 7px;
	}


	.popup.popup_registrarme .categorias_lista label {
		margin: 0
	}


	#home .banner {
		margin-top: 0;
		padding-top: 0;
		z-index: 2
	}

	.banner > .container:before {
		background: url('../imgs/iconos/banner_desktop.png') left bottom no-repeat;
		background-size: 100% auto;
		height: 140px
	}

	#main .buscador {
		text-align: center
	}

	#main .buscador form {
		max-width: 560px;
		width: 100%;
		display: inline-block
	}


	#main .buscador_wrapper p,
	#main .buscador_wrapper h1 {
		font-size: 23px
	}

	.banner:before {
		display: none
	}

	#home .categorias_slider {
		padding-top: 18px
	}

	#main .buscador_wrapper {
		margin-bottom: 30px
	}

	#main .buscador_wrapper {
		padding: 30px 0 0
	}

	.preventa .buscador_wrapper {
		margin-top: 0
	}


	.brand_group .marca {
    	width: 23%
	}


	.filter_bar {
		display: none !important
	}

	.share {
		display: inline-block
	}


	body.blackout:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 4
	}

	body.blackout .blackout_visible,
	body.blackout .banner.blackout_visible .buscador {
		z-index: initial !important
	}

	body.blackout .menu_sticky.blackout_visible {
		z-index: 4 !important
	}

	body.blackout .blackout_visible form {
		z-index: 4 !important;
		position: relative
	}

	body.blackout .blackout_visible .buscador {
		z-index: 4
	}

	.productos_hot .slide_content > .container {
		padding-left: 55px;
		padding-right: 55px
	}

	.slide_content .owl-carousel .owl-nav > div.owl-prev {
		left: -35px
	}

	.slide_content .owl-carousel .owl-nav > div.owl-next {
		right: -35px
	}


	.category_list .title_head.sticky {
		display: none !important
	}

	#categoria .texto_seo {
		padding: 30px 0
	}

	div.counter div.marca {
		max-width: 180px
	}

	div.counter div.marca .img_marca {
		border-width: 15px
	}

	.counter_box {
		background-color: transparent;
		box-shadow: none;
		padding-bottom: 30px
	}


	.marcas .slide_content .details a {
		font-size: 18px
	}

	.marcas .slide_content .details a + a {
		font-size: 14px
	}

	#home .productos_hot .slide_content,
	.marcas .slide_content {
		padding-top: 20px
	}


	.brand_wrapper .title {
		font-size: 20px
	}

	.megaofertas_list .megaofertas_body .slide_content .help {
		display: none
	}

	.megaofertas_list .mo-item:first-child + .mo-item {
		border-radius: 0 !important
	}

	.megaofertas_list .mo-item:hover .info .features {
		display: block !important
	}

	.megaofertas_list .mo-item .info {
		padding-bottom: 0
	}

	.megaofertas_list .mo-item:after {
		height: 115px
	}

	.megaofertas_list .mo-item .content {
	    height: 207px !important
	}

	.megaofertas_list .mo-item:hover .descripcion {
		height: 50px
	}



	.banner:after {
	    background-position: center bottom
    }



	.promo_banners {
		padding: 0
	}

	.promo_banners .row > div {
		width: 50%;
		margin: 20px 0 5px;
	}

	.promo_banners .row > div + div {
		margin-top: 20px
	}

	.promo_banners a {
		padding: 25px 15px;
		text-align: left
	}

	.promo_banners a button {
		font-size: 13px;
		margin: 0;
		position: absolute;
		top: 50%;
		right: 20px;
			transform: -webkit-translate(0, -50%);
			transform: -moz-translate(0, -50%);
			transform: -ms-translate(0, -50%);
		transform: translate(0, -50%);
	}

	.promo_banners a p {
		font-size: 18px;
		margin-bottom: 5px
	}

	.promo_banners a span {
		font-size: 13px;
		margin: 0
	}

	.promo_banners .texto_seo {
		margin-top: 0
	}



	.brand_list_wrapper .item {
		width: calc(16.6% - 1px);
	}

	.brands_list .title {
		font-size: 28px
	}

	.brands_list p {
		font-size: 18px
	}


	.powered_by.fixed .sponsor {
		margin-top: 15px;
		margin-bottom: 0
	}



	#indice .filter form,
	#indice .filter.open form {
		display: block !important
	}



	.mo-item {
		width: 210px;
	}


	.slide {
		overflow: hidden
	}

	.productos_hot .container {
		text-align: left
	}

	.productos_hot h2,
	.productos_hot p {
		display: inline-block;
		vertical-align: middle;
		margin: 0
	}

	.productos_hot .title h2 {
		font-weight: 500;
		font-size: 20px;
		border-right: 1px solid #cdcdcd;
		padding-right: 10px;
		margin-right: 5px;
		line-height: 23px
	}

	.productos_hot p {
		font-size: 17px
	}

	.productos_hot.type_2 .title h2 {
		border: none;
		display: block;
	}



	.productos_hot .owl-carousel a {
		width: 100%
	}



	.apoyos {
		margin-top: 30px
	}

	.apoyos .row {
		margin-right: -15px;
		margin-left: -15px
	}

	.apoyos h2 {
		font-size: 18px
	}

	.apoyos .item {
		width: 16.66666666666667%
	}

	.apoyos .item a {
		border-bottom: 3px solid #d2d2d2;
		width: 130px
	}

	.apoyos .item > div:before {
		content: normal
	}

	div.counter .title a,
	.megaofertas_head .title a {
		background-color: white;
		text-transform: uppercase;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.30);
		padding: 6px 10px;
		border-radius: 3px;
		font-size: 15px;
		font-weight: bold;
		color: #646d6d

	}

	div.counter .title a:hover span + span,
	.megaofertas_head .title a:hover span + span {
		text-decoration: underline
	}

	div.counter .title h2,
	.megaofertas_head .title h2 {
		font-size: 20px
	}

	div.counter .title a span[class*="icon-"],
	.megaofertas_head .title a span[class*="icon-"] {
		display: none
	}

	div.counter .title a span,
	.megaofertas_head .title a span {
		text-decoration: none
	}



	.marcas.marcas_black div.marca {
		width: 21.4%;
		margin-left: 1.8%;
		margin-right: 1.8%
	}

	.marcas.marcas_black div.marca .img_marca {
		border: 19px solid white
	}

	.marcas.marcas_platinum {
		padding-top: 25px;
		padding-bottom: 15px
	}

	.marcas.marcas_platinum div.marca {
		width: 17%;
		margin-left: 1.5%;
		margin-right: 1.5%
	}

	.marcas.marcas_platinum div.marca .img_marca {
		border-width: 13px
	}



	.categorias_slider.big .item .icon {
		width: 75px;
		height:	 75px
	}

	.categorias_slider.big .item .icon:before {
		font-size: 36px
	}

	.categorias_slider.big .item .icon.icon-indumentaria_hs:before,
	.categorias_slider.big .item .icon.icon-automotriz_hs:before {
		font-size: 47px
	}


	.productos_content {
		width: 75%
	}

	#categoria .marcas.marcas_black p { font-size:14px;}

	.productos_content.column .mo-item:hover .info {
		box-shadow: 0 7px 8px rgba(0, 2, 0, 0.1);
	}

	#categoria .marcas.marcas_black p,
	#categoria .marcas.marcas_black p a { color:#fff; }

	#categoria .marcas.marcas_black p a:hover {
		text-decoration: underline
	}



	.sku .features .fee {
		font-size: 17px
	}

	.sku .features .discount {
		font-size: 14px
	}

	.sku .info .description {
		font-size: 13px
	}

	.sku .info .description p {
		white-space: nowrap;
		text-overflow: ellipsis;
	    overflow: hidden
	}

	.sku:hover .info .description p {
		text-overflow: clip;
		white-space: normal
	}


}





@media ( min-width: 1200px ){


	footer .sitemap .column.c_promociones {
		width: 32%
	}

	footer .sitemap .column.c_hotsale {
		width: 26%
	}

	footer .sitemap .column.c_social {
		width: 12%
	}

	.newsletter_bar .title {
		font-size: 10.5px
	}

	.newsletter_bar .title strong {
		font-size: 15px;
		font-weight: 700
	}

	.newsletter_bar .title strong {
		font-size: 14px
	}

	.cabecera .main_sponsors {
		float: none;
		width: 30%;
	}

	.banner > .container:before {
		height: 145px
	}

	div.counter div.marca {
		max-width: 200px
	}

	.counter_box h2 {
		max-width: auto;
		max-width: initial;
		margin-bottom: 15px
	}

	.counter_box .countdown_box .countdown {
		font-size: 52px
	}

	.counter_box .countdown_box .countdown span {
		font-size: 38px;
	}

	.counter_box > p {
		font-size: 18px
	}



	.headband {
	    margin-bottom: 2%;
	}

	.brand_group {
	    margin-left: -0.5%;
	    margin-right: -0.5%
	}

	.brand_group .marca {
    	width: 15.66%;
	    margin-left: 0.5%;
    	margin-right: 0.5%;
	    margin-bottom: 17px
	}

	.brand_group .headband {
		width: calc(100% - 1%)
	}

	.brand_wrapper.diamante {
		padding-top: 0
	}


	.promo_banners a button {
		font-size: 14px
	}

	.promo_banners a p {
	    font-size: 22px
	}

	.promo_banners a span {
		font-size: 14px
	}


	.link_marca {
	    height: 206.75px !important
	}




	.apoyos .item a {
		border-bottom: 3px solid #d2d2d2;
		width: 160px
	}

	.mo-item {
		width: 263px
	}

	.mo-item .info .descripcion {
		height: 40px
	}

	.megaofertas_list .mo-item .info .descripcion {
		height: 27px
	}



	#tiendas_oficiales .links_indice {
		display: block !important;
	}


	.sku {
		height: 382px;
		width: 29.33%;
		margin-left: 2%;
		margin-right: 2%
	}

}





@media ( max-width: 991px ){

	#main .buscador_wrapper h1 {
		height: 30px
	}

	#main .buscador_wrapper h1 strong {
		display: block
	}

	.categorias_slider.big .owl-carousel .owl-nav > div.owl-prev {
		left: -10px
	}

	.categorias_slider.big .owl-carousel .owl-nav > div.owl-next {
		right: -10px
	}

	.mas_ofertas {
		padding-bottom: 10px
	}


	.popup.popup_registrarme form .categorias_lista span:before {
		top: 8px
	}

	.input_block .arrow_btn {
		font-size: 13px
	}

	.popup.popup_registrarme .input_block input {
		font-size: 13px
	}

	.popup.popup_registrarme .content h2,
	.popup.popup_reportar .content h2 {
		font-size: 16px
	}

	.popup.popup_registrarme .content h2 + p,
	.popup.popup_reportar .content h2 + p {
		font-size: 13px
	}

	#seo_landing .megaofertas_body > .container > p {
		font-size: 16px !important
	}

	#seo_landing .megaofertas_body .slide_content {
		padding-top: 5px;
	}

	/*#suscripcion .main_banner .block_1,
	#suscripcion .main_banner .block_2 {
		width: 100%;
		margin: 0
	}

	#suscripcion .main_banner .text_block,
	#suscripcion .main_banner .block_1 h1 {
		font-size: 16px;
		line-height: 21px
	}

	#suscripcion .main_banner .text_block h2 {
		font-size: 22px;
	}

	#suscripcion .main_content {
		padding-bottom: 0
	}

	#suscripcion .main_content .banner_megaofertas_mobile {
		margin-bottom: 30px;
		margin-top: -20px;
	}

	#suscripcion .main_content .banner_megaofertas .title {
		font-size: 21px
	}

	#suscripcion .main_content .banner_megaofertas a {
		position: static;
		display: table;
		float: none;
		margin: auto;
		margin-top: 20px
	}

	#suscripcion .main_content .banner_megaofertas > div {
		float: none;
		width: 100%
	}

	#suscripcion .main_content .megaofertas_body .slide_content {
		padding-top: 10px
	}

	#suscripcion .main_content .megaofertas_head .title h2 {
		text-align: center;
		font-size: 13px;
		display: block
	}

	#suscripcion .main_banner form .form_content > button[type=submit] {
		width: 100%
	}

	#suscripcion .newsletter_block {
		background-color: #e5e5e5
	}*/


	.powered_by.fixed .container {
		text-align: center;
		height: 90px
	}

	.powered_by.fixed .sponsor.principal {
		width: 40%
	}

	.powered_by.fixed .sponsor {
		width: 30%;
		padding-top: 10px
	}

	.powered_by.fixed .sponsor .img {
		height: 48px
	}

}


.productos_content.list .mo-item .feaures_mobile_icons {
	text-align: left
}








@media (max-width: 640px){

	#tiendas_oficiales .tiendas > div li {
		width: 100%
	}

}





@media (min-width: 992px) and (max-width: 1199px){

	.megaofertas_list .mo-item > .features {
		padding-top: 0
	}


	.contenido .item_megaofertas {
		width: 222px;
		margin-bottom: 20px
	}

	.contenido .item_megaofertas .img {
		height: 165px
	}

	.contenido .item_megaofertas .info .precio_regular {
		font-size: 10.8px
	}

	.contenido .item_megaofertas .info .precio {
		font-size: 25px
	}

	.contenido .item_megaofertas .info .btn_comprar {
		font-size: 17px
	}

}



@media ( min-width: 1451px ){

	.header .menu_desktop .botonera li.indumentaria {
		width: 125px;
	}

	.header .menu_desktop .botonera li.muebles {
		width: 125px;
	}

	.header .menu_sticky .botonera li.deportes {
		width: 96px;
	}

	.header .menu_sticky .botonera li.electro {
		width: 92px;
	}

	.header .menu_sticky .botonera li.deportes {
		width: 103px;
	}

}


@media ( max-width: 1450px ){


	.megaofertas_body .link_marca {
		max-width: 140px;
	}

	.megaofertas_list .mo-item {
		max-width: 155px;
	}

	.bomba_content .container,
	.container {
		max-width: 1120px
	}

	.link_marca {
		height: 212.75px;
	}

	.sticky_notification {
		left: -1.5%;
		/*bottom: 60px*/
	}

	.bomba .wrapper {
		margin-top: 22%;
	}

	.bomba .tooltip {
		width: 109px;
		font-size: 10px;
		padding-top: 3px;
	}


}



@media ( max-width: 1366px ){

	.menu_hs_content .bomb_button {
		display: block;
	}

}



@media (max-width: 1450px) and ( min-width: 1250px ){

	.bomba {
		left: 30px;
		position: fixed;
		bottom: 45px;
	}

	.sticky_notification {
		left: 50px;
		position: fixed;
		bottom: 70px;
	}

}





@media ( max-width: 1199px ){

	#home .header {
		background: #e65a4e;
		    background: -webkit-linear-gradient(left, #e65a4e 0%, #f56d62 50%, #fa3c3b 100%);
		    background: -moz-linear-gradient(left, #e65a4e 0%, #f56d62 50%, #fa3c3b 100%);
		    background: -ms-linear-gradient(left, #e65a4e 0%, #f56d62 50%, #fa3c3b 100%);
	    background: linear-gradient(to right, #e65a4e 0%, #f56d62 50%, #fa3c3b 100%);
	}

	#megaofertas .message_tag {
		bottom: 64px
	}

	.message_tag {
		bottom: 20px;
		margin-left: -25px
	}

	.bomba_content .container {
		display: none;
	}

	.megaofertas_list .mo-item .info .regular {
		/*display: block;*/
		margin-left: 0;
	}

	.menu_hs_content .hs_button {
		display: block;
	}


	.mo-item .content {
		height: 158px
	}

	.info_listing div.marca .img_marca > div span {
		display: none !important
	}

	#home .header > .cabecera > .container {
		padding-right: 15px
	}


	.header .fechas {
		margin: 0
	}

	.header .links {
		width: 100%;
		float: none;
		display: inline-block
	}

	.header .fechas {
		margin-top: 10px
	}

	.cabecera .main_sponsors {
		margin-top: 15px;
		vertical-align: top
	}

	.cabecera .main_sponsors span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px
	}

	.buscador.mobile,
	.header .buscador.desktop {
		width: 100%;
		position: absolute;
		bottom: -30px;
		left: 0;
		margin-left: 0;
		padding: 0 15px
	}

	.buscador.mobile button,
	.header .buscador.desktop form {
		margin: auto;
		display: block;
		max-width: 720px
	}

	.header .buscador.desktop label,
	.header .buscador.desktop .submit_group {
		width: 100% !important
	}

	.header .resultados_busqueda {
		width: 100%
	}

	.header_mobile .search_button > span {
		color: #adabab
	}




	


	.megaofertas_body .link_marca {
		height: 203px
	}


	.items_wrapper {
		margin-left: -2%;
		margin-right: -2%
	}

	.productos_content .mo-item {
		width: 29.33%
	}


	/*.productos_content.list .mo-item .info {
	width: 52%
	}*/

	.productos_content.list .mo-item .info div.titulo_marca {
		height: 37px
	}




	.marcas.category_list .block-1 a strong {
		display: block
	}




	#estadisticas .banner {
		padding-top: 70px
	}

	#estadisticas .features > div {
		margin: 0 2%;
		width: 27%
	}




	#fiscalizacion_ofertas .banner {
		padding-top: 30px
	}

	#fiscalizacion_ofertas .descuentos_por_rubro .porcentajes {
		width: 95%
	}




	#tiendas_oficiales .links_indice li a {
		padding: 0 9px;
		font-size: 17px
	}

	#tiendas_oficiales .banner {
		padding-top: 30px
	}




	.link_marca,
	.megaofertas_list .mo-item {
		max-width: 134px
	}

	.megaofertas_list .mo-item .info .btn_reportar {
		top: 0px;
		right: 4px
	}

	.link_marca:hover {
		height: 216px
	}

	.link_marca {
		height: 200px
	}

	.link_marca a {
		padding: 0 15px
	}

	.link_marca .btn {
		font-size: 11px
	}

	.link_marca .img img {
		max-height: 75px
	}


	#categoria #main .megaofertas .slide_content .mo-banner {
		width: 241px
	}


	#indice .letter_content .item_marca a {
		height: 51.22px
	}

}







@media ( max-device-width: 991px ){

	.popup_filtro *[type=submit],
	.popup_filtro .btn_limpiar_filtros {
		padding-top: 8px;
		padding-bottom: 8px
	}

	.banner_megaofertas_mobile .btn_mo_bg {
		padding: 13px 15px 14px 15px
	}

	.registrarme_form .content form input[type="submit"],
	.newsletter .content form input[type="submit"] {
		padding: 15px 0 15px 0
	}

	

	.popup.popup_buscador .submit_group input {
		padding: 5px 10px
	}

	.btn_mo {
		padding-top: 12px;
		padding-bottom: 8px
	}

}


@media ( max-width: 991px ){

	.seo_title {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
	}

	#seo_landing .megaofertas .owl-carousel.dots .owl-dots {
		margin: 0
	}

	#seo_landing .wrapper {
		padding: 15px 10px;
		margin-bottom: 30px;
	}

	#seo_landing .wrapper .title {
		font-size: 15px;
	}

	#seo_landing .wrapper .text {
		font-size: 13px
	}

	#seo_landing .wrapper .subtitle {
		margin-top: 15px;
		font-size: 17px;
		line-height: 22px;
	}

	#seo_landing .wrapper img {
		margin-top: 15px;
		margin-bottom: 20px;
	}



	#megaofertas.bomba_finalizada .grid.productos_content .mo-item {
		margin-left: 13px !important;
		margin-right: 13px !important;
	}

	#megaofertas.bomba_finalizada .grid.productos_content .mo-item .feaures_mobile_icons {
		display: none;
	}

	#megaofertas.bomba_finalizada .bg_title .texto_bomba_finalizada p {
		display: none;
	}



	.counter_box h2 {
		font-size: 15px !important
	}

	.counter_box h2 + p {
		font-size: 17px
	}

	#home .counter_box h2 {
		font-size: 17px !important;
	}

	.counter_box .mo_button {
		font-size: 13px;
	}


	.megaofertas_body .slide_content {
		padding-bottom: 20px;
	}

	.banner_ofertas_bomba {
		display: block;
	}

	#tiendas_oficiales .menu_hs_content .btn_hs_menu {
		right: 40px
	}

	#fiscalizacion_ofertas .descuentos_por_rubro:after {
		background-size: auto 140px
	}

	#categoria #main .megaofertas:after {
		background-size: auto 145px
	}

	#categoria #main .megaofertas .slide_content .mo-banner,
	#seo_landing #main .megaofertas .slide_content .mo-banner {
		width: 232px
	}

	.category_list .title_head a .icon.icon-varios_hs {
		font-size: 19px
	}

	.header_mobile > .container .logo .fechas {
		display: none
	}

	#categoria .marcas.marcas_platinum .title .titulo {
		color: #fb7a25;
		line-height: 16px;
	}

	#categoria .marcas.marcas_platinum {
		background-color: #efefef;
		padding-bottom: 10px
	}

	#categoria .productos_hot .title {
		background-color: transparent
	}

	#categoria .productos_hot .slide_content {
		padding-top: 0
	}

	#categoria .productos_hot .slide_content .title {
		padding-top: 15px
	}

	#categoria .banner .container:before {
		width: 345px;
		background-size: 345px auto
	}


	.header .fechas {
		max-width: 60px;
		margin-right: 0;
		margin-top: 5px
	}

	.header .fechas img {
		margin: 0
	}


	.menu_hs_content {
		display: block
	}

	.menu_hs_content .hs_button {
		display: block !important;
	}


	

	.popup.popup_megaofertas_top .content {
		width: 100%;
		height: 100%;
		max-width: initial;
		max-height: initial;
		border-radius: 0;
		padding-top: 20px
	}

	.popup.popup_megaofertas_top .title {
		text-align: left
	}

	.popup.popup_megaofertas_top .title h2 {
		margin-top: 0;
		font-size: 15px
	}

	.popup.popup_megaofertas_top .title p {
		display: none
	}

	.popup.popup_megaofertas_top .lista_megaofertas_top {
		height: 100%
	}

	.popup.popup_megaofertas_top .lista_megaofertas_top .marca {
		width: 100%;
		border: none;
		border-top: 1px solid #918aed;
		margin: 0;
		padding: 10px 0
	}

	.popup.popup_megaofertas_top .lista_megaofertas_top .marca .img_marca {
		border-width: 4px
	}

	.popup.popup_megaofertas_top .lista_megaofertas_top .marca:first-child {
		border: none
	}

	.popup.popup_megaofertas_top .lista_megaofertas_top .marca {
		font-size: 0
	}

	.popup.popup_megaofertas_top .lista_megaofertas_top .marca > div {
		width: 35%;
		vertical-align: middle;
		display: inline-block
	}

	.popup.popup_megaofertas_top .lista_megaofertas_top .marca > a {
		width: 65%;
		font-size: 13px;
		color: white;
		text-align: left;
		padding-left: 20px;
		display: inline-block;
		vertical-align: middle
	}



	.popup.popup_registrarme .content {
		max-width: 100%;
		max-height: 100%;
		height: 100%;
		width: 100%
	}

	.popup.popup_registrarme .categorias_lista {
		vertical-align: top;
		padding-right: 10px;
	}

	.owl-carousel.dots .owl-dot {
		display: none
	}

	#categoria .owl-carousel.dots .owl-dot {
		display: inline-block
	}

	.megaofertas .megaofertas_body .slide_content {
		padding-bottom: 10px
	}



	.category_list .block {
		padding-bottom: 19%
	}

	.category_list .title_head {
		padding-top: 14px;
		padding-bottom: 14px
	}

	.category_list .category_link {
		font-size: 11.4px;
		padding-bottom: 6px;
		padding-top: 5px;
		max-width: 194px
	}

	.category_list .category_link .icon.icon-indumentaria_hs {
		font-size: 28px
	}

	.category_list .category_link {
		padding-bottom: 2px;
		padding-top: 2px
	}

	.category_list .title_head .btn_hide_brand {
		font-size: 9px;
		margin-top: 10px
	}

	.marcas.category_list .block-2,
	.marcas.category_list .block-4 {
		width: 100%;
		padding-bottom: 20px;
		margin-top: -15px
	}

	.marcas.category_list .block-2 a,
	.marcas.category_list .block-4 a {
		position: relative
	}

	.marcas.category_list .block-1,
	.marcas.category_list .block-3 {
		width: 50%
	}

	.marcas.category_list .block-1 a strong,
	.marcas.category_list .block-3 a strong {
		display: block
	}


	.marcas.marcas_black.category_items .marcas_real_content > div.item_marca .marca {
		margin-bottom: 13px
	}

	.marcas.marcas_black.category_items .marcas_real_content > div.item_marca {
		width: 50%
	}




	#main {
		background-color: #efefef
	}

	.apoyos .item img {
		width: 100%;
	}

	.apoyos .item a {
		outline: none !important;
	}

	.productos_hot .title {
		padding-bottom: 5px
	}

	.productos_hot .title h2 {
		margin-bottom: 0
	}
	.productos_hot.type_2 .title h2 + p {
		font-size: 15px;
	}


	div.marca .fiscalizada {
		padding: 1px 1px 0px 1px;
		font-size: 11px
	}


	.btn_reportar .tooltip {
		text-decoration: underline
	}

	.mo-item .info .precio {
		font-size: 15px
	}


	.mo-item .info .regular {
		font-size: 9.5px
	}

	.megaofertas .megaofertas_body .mo-item .info .regular {
		line-height: 19px;
		display: inline-block;
		margin-left: 15px
	}

	.megaofertas .megaofertas_body .mo-item .info .description {
		font-size: 11px
	}


	.mo-item .info .description {
		font-size: 11px
	}

	.mo-item .info div.titulo_marca a.titulo_marca {
		font-size: 10px
	}

	.mo-item .info a.btn_oferta {
		font-size: 12px
	}


	.mo-item .info .descripcion {
		font-size: 11.5px
	}


	.megaofertas .megaofertas_body:after {
		content: normal
	}

	.megaofertas .megaofertas_body .owl-nav > div.owl-prev,
	.megaofertas .megaofertas_body .owl-nav > div.owl-next {
		display: none
	}


	#megaofertas .texto_seo {
		padding: 20px 0
	}

	#megaofertas .top.mobile .title h2 {
		margin-top: 0;
		margin: 0;
	}

	#megaofertas .texto_seo p {
		padding-bottom: 0
	}



	#home .texto_seo {
		padding-top: 0
	}



	.megaofertas_body .container {
		overflow: auto;
		width: 100%;
		height: 290px
	}


	.link_marca {
		display: none
	}


	.megaofertas_body .mo_list_content {
		white-space: nowrap
	}

	.megaofertas_body .slide_content .help {
		display: block
	}

	.megaofertas_list .mo-item {
		max-width: 160px;
		border-color: transparent;
		border-radius: 0 !important
	}

	.megaofertas_list .mo-item .descripcion {
		height: 45px !important;
		white-space: initial;
		font-family: 'arial'
	}

	/*.megaofertas_list .mo-item .precio {
		font-size: 10px
	}*/

	.megaofertas_list .mo-item .regular {
		font-size: 8px
	}

	.megaofertas_list .mo-item > .info > .features {
		margin-top: 8px
	}

	.megaofertas_list .mo-item > .info > .features .btn_oferta {
		background: #e87715;
			-webkit-background: linear-gradient(top, #e87715 0%, #df494b 100%);
			-moz-background: linear-gradient(top, #e87715 0%, #df494b 100%);
			-ms-background: linear-gradient(top, #e87715 0%, #df494b 100%);
		background: linear-gradient(top, #e87715 0%, #df494b 100%);
		border: none;
		font-weight: bold !important;
		border-radius: 3px;
		padding: 14px 10px;
		display: none
	}

	.megaofertas_list .mo-item .info .btn_reportar {
		right: 10px;
		font-size: 10px
	}

	.megaofertas_list .mo-item.link_marca + .mo-item:before {
		content: normal
	}

	.megaofertas_body .banner_logo {
		display: table
	}



	.owl-carousel .link_marca .btn {
		display: none
	}



	#categoria .megaofertas .megaofertas_head .title h2 {
		font-size: 17px;
		font-weight: 900;
		float: none;
		display: block;
		text-align: center
	}

	#categoria .megaofertas .megaofertas_head .title a {
		font-size: 12px;
		font-weight: 500;
		float: none;
		display: block;
		text-align: center
	}


	#categoria .productos_hot .title .titulo {
		font-weight: 900;
		margin-bottom: 5px
	}

	#categoria .texto_seo  {
		background: #efefef
	}

	#categoria .texto_seo:before {
		content: normal
	}

	#categoria .megaofertas.carousel {
		margin-top: 0
	}

	/*#categoria .counter_box {
	margin-bottom: 15px
	}*/

	#categoria .megaofertas.carousel:before {
		content: '';
		height: 17px;
		width: 100%;
		background: url('../imgs/iconos/sombra_bottom_5.png') center top no-repeat;
		position: absolute;
		bottom: 100%;
		left: 0
	}


	.top.mobile {
		border: none
	}

	.contenido {
		padding-top: 10px;
		border-top: 0
	}

	.contenido,
	.favoritos .contenido {
		padding-top: 20px;
	}

	.favoritos .contenido {
		padding-top: 20px !important
	}

	.favoritos .contenido .title h2 {
		font-size: 13px
	}

	.favoritos .contenido .title p {
		font-size: 11px
	}


	.productos_content .mo-item .info .titulo_marca a.titulo_marca,
	.productos_content .mo-item .info .descripcion {
		white-space: normal;
		text-overflow: clip
	}



	.banner_top .info_listing .marcas_slide .owl-carousel .owl-stage-outer {
		padding-bottom: 13px
	}

	#productos_hot .bg_title {
		padding: 10px 0
	}

	#productos_hot .bg_title h1 {
		font-size: 18px
	}

	#productos_hot .banner_top .info_listing {
		background: #ededed;
		padding-top: 15px;
		padding-bottom: 10px;
		text-align: center
	}

	#productos_hot .banner_top .info_listing h2 {
		font-size: 15px
	}

	#productos_hot .banner_top .info_listing p {
		font-size: 13px
	}


	#productos_hot .productos_hot .title,
	#productos_hot .productos_hot,
	#productos_hot .productos_hot .slide_content {
		background-color: transparent
	}



	#productos_hot .texto_seo,
	#megaofertas .texto_seo {
		background-color: transparent
	}

	#productos_hot .texto_seo {
		padding-top: 10px;
		padding-bottom: 20px
	}

	#productos_hot .texto_seo:before {
		content: normal
	}

	#productos_hot .productos_hot .title,
	#megaofertas .productos_hot .title {
		margin-top: 0
	}


	.productos_content.list .mo-item .info .descripcion {
		padding-right: 0
	}



	.bg_title.resultado_busqueda h1 {
		font-size: 18px
	}


	.mas_ofertas {
		background-color: transparent
	}

	.mas_ofertas:before {
		content: normal
	}

	.mas_ofertas h3 {
		font-size: 15px
	}

	.mas_ofertas a {
		width: 50%
	}






	#productos_hot .counter_box {
		background: transparent;
		margin-top: 0;
	}

	#productos_hot .countdown_box {
		margin: 10px 0
	}

	#productos_hot .counter_box h2 {
		font-size: 16px
	}

	#productos_hot .counter_box h2 + p {
		font-weight: 500;
		font-size: 13px
	}

	#productos_hot .counter_box p.descr {
		font-weight: 300;
		font-size: 13px
	}







	.sin_resultados + .container .banner_megaofertas {
		margin-bottom: 20px
	}

	.sin_resultados + .container .banner_megaofertas p span {
		display: none
	}

	.sin_resultados + .container .banner_megaofertas .btn_white span,
	.sin_resultados + .container .banner_megaofertas .title {
		display: none
	}

	.sin_resultados + .container .banner_megaofertas .btn_white {
		border-radius: 2px
	}

	.sin_resultados + .container .banner_megaofertas p {
		font-size: 14px
	}

	#main .sin_resultados {
		padding: 20px 0
	}


	.sin_resultados .counter_box {
		box-shadow: none
	}

	#main .sin_resultados .text p {
		font-size: 16px;
		line-height: 24px
	}

	.sin_resultados .counter_box h2 {
		font-size: 16px
	}

	.sin_resultados .counter_box p.descr {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 20px
	}


	.productos_content .mo-item .info div.titulo_marca {
		height: 37px
	}

	.productos_content.list .mo-item .info .descripcion {
		font-size: 13px;
		line-height: 17px
	}




	#estadisticas .banner {
		padding-bottom: 30px
	}

	#estadisticas .banner p.detail {
		margin-top: 0;
		margin-bottom: 10px
	}

	#estadisticas .features > div {
		margin: 0 auto 25px auto !important;
		width: 300px;
		display: block
	}

	#estadisticas .ediciones_anteriores h2 {
		width: 350px
	}

	#estadisticas .ediciones_anteriores > div {
		display: block;
		width: 255px;
		margin: 0 auto 30px auto
	}

	#estadisticas .productos_vendidos h2 {
		margin-bottom: 30px
	}

	#estadisticas .productos_vendidos > p {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto
	}




	#fiscalizacion_ofertas .descuentos_por_rubro {
		padding-bottom: 0
	}

	#fiscalizacion_ofertas .descuentos_por_rubro .porcentajes {
		width: 100%
	}

	#fiscalizacion_ofertas .descuentos_por_rubro .porcentajes > div > span {
		display: block;
		text-align: left
	}

	#fiscalizacion_ofertas .descuentos_por_rubro .porcentajes > div > div {
		margin-left: 0;
		width: 100%
	}

	#fiscalizacion_ofertas .certificacion {
		background-color: #f9f9f9
	}

	#fiscalizacion_ofertas .certificacion h2 {
		margin-top: 0
	}

	#fiscalizacion_ofertas .certificacion:before {
		display: none
	}

	#fiscalizacion_ofertas .certificacion ul li {
		width: 32%
	}




	#tips_recomendaciones .contenido {
		background-color: #f9f9f9;
		position: static
	}

	#tiendas_oficiales .banner,
	#tips_recomendaciones .banner {
		background-color: #f9f9f9;
		padding-top: 25px
	}

	#tips_recomendaciones .tips li {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
		padding-right: 0
	}

	#tips_recomendaciones .info {
		margin-top: 15px
	}

	#tips_recomendaciones .info > div {
		width: 100%
	}

	#tips_recomendaciones .info > .fiscalizacion {
		padding: 0;
		padding-bottom: 10px
	}

	#tips_recomendaciones .info > .sello_cace {
		border: none;
		border-top: 1px solid #dfdfdf;
		padding: 0;
		padding-top: 20px
	}


	#tips_recomendaciones .contenido h2 {
		font-size: 16px
	}

	#tips_recomendaciones .info > div p,
	#tips_recomendaciones .tips li {
		font-size: 14px
	}



	#tiendas_oficiales .links_indice {
		position: absolute;
		right: 0;
		background-color: #6b2dcb;
		height: 80%;
		max-height: 390px;
		overflow: auto;
		margin-top: 0
	}

	#tiendas_oficiales .links_indice li a {
		font-size: 9px
	}

	#tiendas_oficiales .links_indice.top {
		top: 0
	}

	#tiendas_oficiales .links_indice.fixed {
		position: fixed;
		top: 54%;
		right: 15px;
		transform: translate(0, -50%);
		margin-top: 20px
	}


	#tiendas_oficiales .links_indice li {
		display: block
	}

	#tiendas_oficiales .links_indice li a {
		color: white;
		padding: 1px 5px
	}

	#tiendas_oficiales .links_indice li a:hover {
		color: white
	}

	#tiendas_oficiales .links_indice li.inactivo a:hover {
		color: white
	}

	#indice .no_results_filter {
		margin-top: 30px;
		font-size: 17px
	}

	#indice .intro .intro_content,
	#tiendas_oficiales .intro .intro_content {
		padding-left: 0;
		margin-top: 7px
	}

	#indice .intro img,
	#tiendas_oficiales .intro img {
		position: static;
		display: block;
		margin: auto;
		vertical-align: middle
	}

	#indice .letter_content .item_marca a {
		height: auto
	}

	#tiendas_oficiales .tiendas > div li {
		width: 49%
	}

	#tiendas_oficiales .tiendas > div > div a {
		display: none
	}

	#indice .intro .sello,
	#tiendas_oficiales .intro .sello {
		display: block;
		position: static;
		margin-bottom: 15px;
		transform: none
	}

	#indice .intro .sello img,
	#tiendas_oficiales .intro .sello img {
		display: inline-block;
		max-width: 60px
	}

	#indice .intro .sello span,
	#tiendas_oficiales .intro .sello span {
		display: inline-block;
		padding-left: 10px;
		width: 145px;
		line-height: 21px;
		text-transform: uppercase;
		color: #2d2e35;
		font-weight: 900;
		font-size: 13px;
		vertical-align: middle
	}

	#tips_recomendaciones .info > div:first-child {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-bottom: 15px
	}

	#tips_recomendaciones .info > div.sello_cybermonday,
	#tips_recomendaciones .info > div.sello_hotsale {
		padding-left: 50px;
		padding-top: 15px;
		width: 100%
	}

	#tips_recomendaciones .info > div .sello {
		left: 0;
		top: 16px;
		max-width: 40px;
		max-height: 41px
	}

	#indice .intro p,
	#tiendas_oficiales .intro p {
		font-size: 13px
	}

	#indice .contenido {
		padding-bottom: 0
	}

	.categorias_slider.big {
		margin-bottom: 0
	}

	.categorias_slider.big:before {
		display: block
	}

	#tiendas_oficiales .banner h1,
	#tips_recomendaciones .banner h1,
	#fiscalizacion_ofertas .banner h1 {
		font-size: 18px;
		padding-bottom: 13px
	}

	#tips_recomendaciones .contenido h2 {
		margin-bottom: 16px
	}

	#tiendas_oficiales .contenido,
	#tips_recomendaciones .contenido {
		padding-top: 10px
	}

	#tiendas_oficiales .contenido {
		padding-top: 0
	}

	#tiendas_oficiales .contenido .intro {
		margin-top: 0
	}

	#tiendas_oficiales .intro p {
		font-size: 13px;
		line-height: 21px
	}

	#tiendas_oficiales .banner,
	#tips_recomendaciones .banner {
		padding-top: 18px
	}

	#estadisticas .productos_vendidos h2 {
		font-size: 20px
	}

	#estadisticas .productos_vendidos > p {
		font-size: 15px
	}

	#fiscalizacion_ofertas .intro {
		padding-top: 15px
	}

	#fiscalizacion_ofertas .intro p {
		font-size: 14px;
		line-height: 20px
	}

	#fiscalizacion_ofertas .intro .promedio strong {
		font-size: 62px;
		line-height: 74px
	}

	#fiscalizacion_ofertas .descuentos_por_rubro h2 {
		font-size: 18px
	}

	#fiscalizacion_ofertas .descuentos_por_rubro .porcentajes > div > span {
		font-size: 14px
	}

	#fiscalizacion_ofertas .banner {
		padding-top: 18px
	}

	#fiscalizacion_ofertas .intro.contador {
		padding-bottom: 0
	}




	/*#indice .filter form {
		display: none
	}
	*/
	#indice .filter.open {
		display: block
	}

	#indice .letter_content .item_marca {
		max-width: 33.33%;
		margin-bottom: 9%
	}

	#indice .filter,
	#indice .index_brands_wrapper {
		width: 100%;
		padding-left: 0
	}

	#indice .filter {
		width: calc(100% + 30px);
		left: -15px;
		position: relative;
		background-color: #e3e3e3;
		border-bottom: 3px solid #cacaca;
		margin-bottom: 30px;
		z-index: 2
	}

	#indice .filter.fixed {
		position: fixed;
		top: 62px;
		left: 0;
		width: 100%
	}

	#indice .filter > form {
		padding: 20px;
		padding-bottom: 30px;
	}

	#indice .filter_block .letter_filter label {
		width: 45px
	}

	#indice .letter_filter,
	#indice .category_filter {
		overflow: auto;
		white-space: nowrap;
	}

	#indice .filter_block .category_filter {
		margin: 0 -10px
	}

	#indice .filter_block .category_filter label {
		width: auto;
		margin: 5px 10px
	}

	#indice .filter_block .category_filter .button_category span {
		display: none
	}

	#indice .filter_block {
		margin-top: 5px
	}

	#indice .filter_block .filter_title {
		padding: 3px 0
	}

	#indice .index_open_tab {
		display: block
	}

	#indice .filter_block .letter_filter,
	#indice .filter_block .category_filter {
		margin-top: 3px;
	}

	#indice .help {
		display: block
	}



	
	.newsletter_block {
		background-color: #eeeeee
	}

	.newsletter_block:before,
	.newsletter_block .news_btn:before,
	.newsletter_block .news_btn:after {
		content: normal
	}

	
	.megaofertas_body .container {
		overflow: auto;
		width: 100%;
		height: 306px
	}

	#categoria .search_button {
		margin-top: 10px;
		margin-bottom: 0
	}



	#categoria .banner .container:before {
		height: 200px;
		background-image: url('../imgs/iconos/banner_categoria_mobile.png');
		background-size: 130px auto
	}
	.marcas.category_list .block-4 {
		padding-top: 10px;
		padding-bottom: 15px
	}

	#megaofertas.bomba_finalizada .bg_title .productos_content {
		padding: 0;
	}

	#megaofertas.bomba_finalizada .bg_title .texto_bomba_finalizada a {
		border: none;
		margin: 0;
		color: #5928c5;
		font-weight: 900;
		font-size: 14px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
		width: 100%;
		background-color: white;
	}

	#megaofertas.bomba_finalizada .bg_title .texto_bomba_finalizada {
		padding-left: 0;
		padding-right: 0;
	}

	#megaofertas.bomba_finalizada .grid.productos_content .mo-item {
		margin-left: 0 !important;
	}

	.productos_content.column .mo-item {
		height: 380px;
	}

	body#megaofertas:not(.megaofertas_bomba) .productos_content.column .mo-item {
		height: 380px;
	}

	.productos_content:not(.list) .mo-item .info .descripcion {
		height: 48px
	}

}






@media ( max-width: 767px ){

	#home.preventa .banner > .container:before {
		width: 260px
	}

	#home.preventa .banner > .container:before {
		left: initial;
		right: 0
	}


	#home .category_items.viajes .category_link,
	#home .category_items.muebles .category_link {
		padding-bottom: 4px;
		padding-top: 4px
	}

	#home .category_items.viajes .icon-viajes_hs {
		font-size: 19px
	}

	#home .category_items.muebles .icon-muebles_hs {
		font-size: 21px
	}

	#home .category_items.indumentaria .category_link {
		padding-bottom: 0px;
		padding-top: 0px
	}

	#home .category_items.varios .category_link {
		padding-bottom: 5px;
		padding-top: 5px
	}

	#home .category_items.varios .category_link .icon-varios_hs {
		font-size: 17px
	}

	#home .category_items.varios .category_link .icon-varios_hs + span {
		padding-bottom: 1px
	}


	#home .counter_box .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	#home .counter_box .owl-carousel .owl-nav > div.owl-prev {
		left: -10px !important
	}

	#home .counter_box .owl-carousel .owl-nav > div.owl-next {
		right: -10px !important
	}

	
	body:not(#home) .cabecera .logo img {
		display: none
	}

	body:not(#home) .cabecera .logo .section_image {
		display: block;
	    width: 65px;
	    height: 47px;
        margin-top: -5px
	}

	body:not(#home) .header .logo {
		width: 45%
	}

	body:not(#home) .cabecera .block_sponsor {
	    width: 55%
    }


	.owl-carousel .link_marca .title {
		font-size: 10px
	}

	.owl-carousel .link_marca > a {
		padding-left: 9px;
		padding-right: 9px
	}


	.header_mobile > .container {
		padding-left: 95px;
		padding-right: 55px
	}

	div.counter .owl-carousel .owl-nav > div.owl-prev {
		left: 0
	}

	div.counter .owl-carousel .owl-nav > div.owl-prev {
		right: 0
	}

	#categoria .banner .container:before {
		background-size: auto auto
	}

	.header .menu_mobile.sticky_header .buscador {
		width: 58%
	}

	.header .links {
		float: right
	}

	.header .main_sponsors span {
		width: 75px;
		text-align: right;
		margin: 0
	}


	.marcas.marcas_black div.marca .img_marca {
		border-width: 3px
	}

	div.marca .img_marca > div {
		display: none !important
	}

	.marcas .slide_content .owl-carousel .owl-nav,
	.marcas .slide_content .btn_directions {
		display: none !important
	}

	.megaofertas .megaofertas_head .slide_content .container,
	.megaofertas .megaofertas_body .slide_content .container {
		padding-left: 0;
		padding-right: 0
	}

	.megaofertas .megaofertas_head .slide_content .owl-carousel .owl-nav > div {
		height: 100%
	}


	.counter .slide_content .owl-carousel .owl-nav > div {
		width: 30px
	}

	.items_wrapper {
		margin-left: -1%;
		margin-right: -1%
	}

	


	.popup.popup_registrarme form .categorias_lista span {
		font-size: 11px
	}

	.popup_reportar .content {
		max-width: 100%;
		max-height: 95%;
		width: 95%
	}

	.popup_reportar .content [type="submit"] {
		width: 100%;
		padding: 11px 0;
		margin-bottom: 10px;
		margin-top: 5px
	}



	.productos_content {
		font-size: 0
	}

	.productos_content .mo-item {
		position: relative !important;
		width: 48%;
		margin-bottom: 10px
	}

	.productos_content.column .mo-item {
		margin-left: 1%;
		margin-right: 1%;
	}

	.productos_content .mo-item .info .descripcion {
		font-size: 11px;
		line-height: 16px
	}

	.productos_content .mo-item .info a.titulo_marca {
		line-height: 20px;
		font-size: 10px
	}

	.productos_content .mo-item .info div.titulo_marca {
		height: 70px
	}

	.mo-item .content {
		height: auto
	}


	.banner_top .slide_content {
		padding: 0
	}

	.banner_top .marcas_slide {
		padding: 0
	}

	.banner_top .marcas_slide .owl-nav > div.owl-prev {
		background: url('../imgs/iconos/gradient_4_left.png') left center repeat-y;
		background-size: 100% auto
	}

	.banner_top .marcas_slide .owl-nav > div.owl-next {
		background: url('../imgs/iconos/gradient_4_right.png') right center repeat-y;
		background-size: 100% auto
	}

	.banner_top .title_slide {
		padding-left: 15px;
		padding-right: 15px;
	}




	.mas_ofertas a {
		width: 100%
	}



	.sin_resultados + .container {
		padding: 0
	}

	.sin_resultados + .container .banner_megaofertas {
		border-radius: 0
	}

	.sin_resultados + .container .banner_megaofertas > div {
		width: 100%;
		float: none;
		margin-bottom: 10px;
		text-align: center
	}

	.sin_resultados + .container .banner_megaofertas .btn_white {
		width: 100%
	}





	#estadisticas .banner p.strong {
		font-size: 130px
	}

	#estadisticas .banner p.detail {
		font-size: 18px;
		width: 100%;
		max-width: 300px
	}




	#tips_recomendaciones .info h3 {
		font-size: 14px;
		position: relative;
		padding-left: 50px;
		width: 115px
	}

	#tips_recomendaciones .info > div .icono {
		top: -5px
	}

	#tips_recomendaciones .info > div {
		padding-left: 0
	}

	#tips_recomendaciones .info > div p {
		margin-top: 10px
	}


	.productos_content .mo-item .info div.titulo_marca {
		height: 34px
	}

	.productos_content .mo-item .info .descripcion {
		min-height: 80px
	}

	#tips_recomendaciones .info > div.sello_hotsale,
	#tips_recomendaciones .info > div.sello_cybermonday {
		padding-left: 0
	}

	#tips_recomendaciones .info > div.sello_hotsale > .sello,
	#tips_recomendaciones .info > div.sello_cybermonday > .sello {
		display: none
	}

	#tips_recomendaciones .info > div .sello {
		top: -3px;
		display:none;
	}

	#tips_recomendaciones .info > div.sello_hotsale h3 .sello,
	#tips_recomendaciones .info > div.sello_cybermonday h3 .sello {
		display: inline-block
	}


	#indice .letter_content .item_marca {
		max-width: 50%;
	}


	.megaofertas_list .mo-item {
		max-width: 170px
	}

	.megaofertas_body .container {
		height: 275px
	}

	.marcas.category_list .block a  {
		right: 8px
	}

	.productos_content.column .mo-item {
		height: 100%;
		margin-bottom: 28px !important;
	}

	body#megaofertas:not(.megaofertas_bomba) .productos_content.column .mo-item {
		height: 100%;
		margin: 0 1%;
	}

	.megaofertas_body .container {
		height: 285px
	}

	#categoria .banner .container:before {
		height: 150px;
	}

	#categoria .banner .container:before {
		background-size: 100px auto
	}

	#categoria .banner .container::before {
		background-size: 95px auto
	}

	#categoria .banner .text {
		min-height: 70px;
	}

	#categoria .banner .text {
		max-width: 195px
	}

	.grid.productos_content.column {
		position: static !important;
		height: auto !important
	}

	.slide_content {
		overflow: hidden
	}

	.cabecera .main_sponsors a {
		max-width: 50px;
	}



	.banner_top.fin_megaofertas_top h1 {
		font-size: 19px
	}

	.banner_top.fin_megaofertas_top h2 {
		font-size: 15px;
	}


}

/*

@media (max-width: 720px){

	.productos_content.list .mo-item .info {
	width: 50%
	}

}


@media (max-width: 700px){

	.productos_content.list .mo-item .info {
	width: 50%
	}

}


@media (max-width: 650px){

	.productos_content.list .mo-item .info {
	width: 43%
	}

	}*/



	@media (max-width: 610px){

	/*.productos_content.list .mo-item .info {
	width: 38%
	}
	*/
	.productos_content.list .mo-item .mobile_content .btn_oferta {
		margin-top: 46px
	}

}



@media (max-width: 585px){

	#estadisticas .ediciones_anteriores h2 {
		width: 100%;
		max-width: 300px;
		font-size: 21px
	}

	#estadisticas .productos_vendidos > div span {
		font-size: 47px;
		margin: 0 5px
	}

	#estadisticas .productos_vendidos > div span.icon-shoe_2 {
		font-size: 25px
	}

	#estadisticas .productos_vendidos > div span.icon-tv {
		font-size: 37px
	}

	#estadisticas .banner_bottom {
		margin-top: 70px;
		height: 355px
	}

	#estadisticas .banner_bottom > div > div {
		background-size: 700px
	}

}



@media (max-width: 550px){

	.cabecera .main_sponsors a {
		max-width: 50px;
		margin-left: 0
	}

	.header .main_sponsors span {
		font-size: 9px;
		width: 58px
	}





	.category_list .btn_link_all {
		font-size: 11px;
		line-height: 12px
	}


	.productos_content.list .mo-item {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		margin-bottom: 30px;
		padding-right: 0;
		border-radius: 8px
	}

	.productos_content.list .mo-item .info {
		height: auto
	}

	.productos_content.list .mo-item .content {
		width: 53%
	}

	.productos_content.list .mo-item .info {
		width: 47%;
		padding-left: 0;
		padding-bottom: 0
	}

	.productos_content.list .mo-item .info .precio {
		font-size: 13px;
		line-height: 10px
	}

	.productos_content.list .mo-item .info .btn_oferta,
	.productos_content.list .mo-item .info .precio,
	.productos_content.list .mo-item .info .regular {
		display: block !important
	}

	.productos_content.list .mo-item .info .precio,
	.productos_content.list .mo-item .info .regular {
		text-align: left;
		margin: 0;
		min-height: 16px;
	}

	.productos_content.list .mo-item .mobile_content {
		width: 100%;
		padding: 10px;
		text-align: right
	}

	.productos_content.list .mo-item .mobile_content .btn_oferta {
		margin-top: 0
	}

	.productos_content.list .mo-item.megaoferta .mobile_content .btn_oferta {
		border-radius: 3px;
		margin-top: 0;
		width: 50%;
		display: inline-block !important
	}

	.productos_content.list .mo-item .features_mobile {
		display: none !important;
		position: absolute;
		bottom: 50px;
		left: 0;
		width: 55%
	}

	.productos_content.list .mo-item .feaures_mobile_icons {
		display: none
	}

	.productos_content.list .mo-item .titulo_marca .btn_reportar {
		display: none
	}

	.productos_content.list .mo-item .mobile_content {
		margin-top: 0;
		padding-top: 0
	}

	.productos_content.list .mo-item .btn_reportar {
		right: initial;
		top: 2px;
		left: 0;
		width: auto
	}

	.productos_content.list .mo-item .features,
	.productos_content.list .mo-item .mobile_content .precio,
	.productos_content.list .mo-item .mobile_content .regular {
		display: none !important
	}

	.productos_content.list .mo-item .info .descripcion {
		font-size: 10px;
		line-height: 14px;
		padding-right: 0;
		min-height: 68px;
		width: 100%
	}

	.productos_content.list .mo-item .info div.titulo_marca {
		height: auto
	}

	.productos_content .mo-item .info div.titulo_marca {
		padding-right: 0
	}

	.productos_content.list .mo-item .info div.titulo_marca a.titulo_marca {
		font-weight: 900;
		font-size: 10px;
		line-height: 13px;
	}

	.productos_content.list .mo-item .info div.titulo_marca a.titulo_marca {
		margin-top: 5px;
	}

	.productos_content.list .mo-item .info > div:first-child a {
		margin-top: 5px;
	}

	.productos_content .mo-item .info > div:first-child .btn_reportar {
		display: block;
		top: 3px
	}

	.productos_content.list .mo-item .info > div:first-child a {
		margin-bottom: 6px;
	}

	.productos_content.list .mo-item .feaures_mobile_icons .btn_reportar .tooltip {
		left: -5px !important;
		right: initial !important
	}

	.productos_content.list .mo-item .feaures_mobile_icons .btn_reportar .tooltip:before {
		background-position: 6px top !important
	}

	.productos_content .mo-item div.titulo_marca .btn_reportar,
	.productos_content.list .mo-item .info > div:first-child .btn_reportar {
		display: none
	}

	.productos_content.list .mo-item .feaures_mobile_icons {
		display: block;
		padding-left: 14px
	}


	.productos_content .mo-item .info .descripcion {
		padding-right: 0
	}

	.productos_content .mo-item .info a.btn_oferta {
		border-radius: 4px
	}

	#megaofertas.bomba_finalizada .grid.productos_content .mo-item .feaures_mobile_icons {
		display: block
	}



	.mo-item .content img {
		border-radius: 10px
	}

	.mo-item .content_wrapper {
		/*overflow: visible;*/
		position: static;
		border: 0;
		border-radius: 0
	}

	.mo-item.megaoferta {
			background: -webkit-linear-gradient(top, #e87814 0, #db3266 100%);
			background: -moz-linear-gradient(top, #e87814 0, #db3266 100%);
			background: -ms-linear-gradient(top, #e87814 0, #db3266 100%);
		background: linear-gradient(to bottom, #e87814 0, #db3266 100%);
	}

	.mo-item.megaoferta .info:before {
		display: none;
	}

	.productos_content.list .mo-item.megaoferta .content {
		width: 50%
	}

	.productos_content.list .mo-item.megaoferta .info {
		width: 50%
	}

	.mo-item.megaoferta .content a {
		height: auto
	}

	.mo-item.megaoferta .content img {
		left: 0;
		border-radius: 0;
		transform: none;
		height: 100%
	}

	.mo-item.megaoferta .info div.titulo_marca h3 {
		background-color: rgba(0, 0, 0, 0.1);
		margin-top: 0
	}

	.productos_content.list .mo-item.megaoferta .feaures_mobile_icons {
		display: none
	}

	.productos_content.list .mo-item.megaoferta .features_mobile {
		display: block !important;
		position: static;
		width: 100%;
		padding-left: 55%;
		margin: 10px 0
	}

	.productos_content.list .mo-item.megaoferta .info div.titulo_marca a.titulo_marca {
		margin-top: 0
	}

	.productos_content.list .mo-item .info .descripcion {
		color: #575757;
		font-weight: 600
	}

}



@media (max-width: 480px){

	.popup.popup_reportar .captcha {
		transform: scale(0.8);
		width: 0
	}

	.popup.popup_reportar .content [type="submit"] {
		width: 100%;
		padding: 13px 0;
	}

	.mo-item .info .regular,
	.mo-item .mobile_content .regular {
		margin-left: 0;
		display: block
	}






	#tiendas_oficiales .tiendas > div li {
		width: 100%
	}


	.marcas.marcas_black div.marca {
		margin-bottom: 23px
	}

}




@media (max-width: 340px){

	.header .links {
		width: 55%
	}

	.mo-item .bomb_tag p {
		width: 100%;
	}

}




@media (max-width: 119px){

	.link_marca:hover {
		height: 248px
	}

	.link_marca {
		height: 186px
	}

	.megaofertas_body .container {
		height: 221px
	}

}




@media ( min-width: 1199px ) and ( max-width: 1450px ){

	.items_wrapper {
		margin-left: -2%;
		margin-right: -2%
	}

	.productos_content .mo-item {
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 40px;
	}

	.productos_content.list .mo-item .info {
		width: 61%;
	}
}




@media ( min-width: 551px ){

	.productos_content.list .mo-item {
		padding-left: 140px
	}

	.productos_content.list .mo-item .content {
		position: absolute;
		left: 0;
		top: 0
	}

	.productos_content.list .mo-item .mobile_content {
		position: absolute;
		right: 36px;
		top: 0
	}

	#megaofertas.bomba_finalizada .bg_title .list .mo-item .info {
		width: 67%
	}

}




@media ( max-width: 550px ){

	#megaofertas.bomba_finalizada .bg_title .productos_content.list .mo-item .info .precio {
		font-size: 13px;
	}

	#megaofertas.bomba_finalizada .bg_title .mo-item .info .regular {
		font-size: 9.5px;
	}

	#megaofertas.bomba_finalizada .bg_title .mo-item .info .descripcion {
		font-size: 10px;
		line-height: 14px;
	}

	#megaofertas.bomba_finalizada .bg_title .mo-item .info div.titulo_marca a.titulo_marca {
		font-size: 10px;
		line-height: 13px;
	}

}



body:not(#home):not(#megaofertas):not(#categoria) .menu_hs_content .bomb_button {
	display: none !important;
}













@media ( max-width: 1199px ){

	.productos_content.column .mo-item {
		/*height: 336px;*/
		height: auto;
		margin-bottom: 35px;
	}

	body#megaofertas:not(.megaofertas_bomba) .productos_content.column .mo-item {
		/*height: 325px;*/
		height: auto;
	}

}