@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* GENERAL */

.is-bold {
  font-weight: 700;
}
.is-semibold {
  font-weight: 600;
}
.is-underlined {
  text-decoration: underline;
}
.has-clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* preventa_tienda-counter */

.banner-gradient {
  padding: 25px 25px 0;
  border: 2px solid black;
  border-radius: 10px;
  border-bottom: 8px solid black;
  background-image: linear-gradient(#FEB711, #F0712C);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: black;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}
.banner-gradient::before {
  background: url(../imgs/iconos/trama_banner_fuego.svg);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}
.banner-gradient p {
  z-index: 1;
}
.banner-gradient p:first-child {
  font-weight: bold;
  font-size: 25px;
}
.banner-gradient__btn {
  color: white;
  background-color: black;
  max-width: 335px;
  margin: 16px auto;
  border-radius: 6px;
  border-bottom: 3px solid rgb(240, 83, 44);
  font-weight: 600;
  padding: 4px 12px;
  z-index: 1;
  opacity: 1;
}
.banner-gradient__btn:hover {
  background-color: white;
  color: black;
}
#interna_tienda .learn-more-citibanamex {
  padding: 30px 0 25px;
  text-align: center;
  color: #FF202D;
  font-size: 22px;
  font-weight: 600;
}
#interna_tienda .learn-more-citibanamex span:first-child {
  font-weight: 800;
}
#interna_tienda .learn-more-citibanamex a {
  color: #FF202D;
  border-bottom: 3px solid #FF202D;
  margin: 8px 0 0 0;
  font-size: 18px;
  font-weight: 600;
  padding: 0 4px;
}
#interna_tienda .learn-more-citibanamex a:hover {
  color: black;
}

/* servicios_financieros */

#servicios .title_block {
  background-color: #e12133;
}
#servicios .title_block::before {
  background: url('../imgs/iconos/trama_servicios.svg');
  background-size: 94px;
}
#servicios .title_block .title {
  color: white;
  font-weight: 600;
}
#servicios .title_block .subtitle {
  color: white;
}
#servicios .service-container li {
  padding: 0 0 15px 0;
}
#servicios .container .service {
  border: 3px solid #B41222;
  box-shadow: 0px 5px #C4C4C4;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
#servicios .offers {
  background-color: black;
  padding: 15px 15px;
  text-align: center;
  color: #858585;
}
#servicios .offers .offer {
  width: 100%;
  margin: 0 0 15px;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  text-shadow: 0 3px 0 rgba(46, 46, 46, 0.24);
}
#servicios .offers .offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}
#servicios .offers .first-offer {
  background-image: linear-gradient(#FEB811, #FFE65D);
}
#servicios .offers .first-offer::before {
  background: url(../imgs/iconos/trama_productos_hot.svg);
  background-size: 200px;
}
#servicios .offers .second-offer {
  background-image: linear-gradient(#FFFFFF, #E2E2E2);
}
#servicios .offers .second-offer::before {
  background: url(../imgs/iconos/trama_tienda.svg);
  background-size: 270px;
}
#servicios .offers .offer .offer-text {
  color: #E52F34;
  font-size: 24px;
  font-weight: 700;
  padding: 0 0 20px;
}
#servicios .offers .offer .offer-text span {
  color: black;
  font-size: 14px;
}
#servicios .offers .offer a {
  width: 100%;
}
#servicios .offers .offer-button {
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 6px 1px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 700;
  font-size: 16px;
  text-shadow: none;
}
#servicios .offers .container ul p {
  font-family: Verdana;
  font-size: 11px;
  line-height: 15px;
  color: #858585;
}
#servicios .offers .container ul p a {
  font-weight: 700;
  text-decoration: underline;
  color: #858585;
}
#servicios .texto_seo {
  background-color: black;
}

/* Índice de Marcas */
#tiendas_oficiales .tiendas > div li a:hover {
  color: #e12133;
}
#tiendas_oficiales #main.has-gray-bg {
  background-color: #efefef;
}
#tiendas_oficiales .contenido.has-gray-bg {
  background-color: #efefef;
}
#tiendas_oficiales .title_block h1 {
  font-weight: 600;
}
#tiendas_oficiales ul.breadcrumb li+li:before {
  color: black;
  content: ">";
  font-size: 12px;
  font-weight: 600;
}
#tiendas_oficiales ul.breadcrumb li a {
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
}
#tiendas_oficiales .indice-letras {
  border-top: 1px solid #212123;
  border-bottom: 1px solid #212123;
  margin-top: 32px;
}
#tiendas_oficiales .indice-letras li a:hover {
  color: #e12133;
}
#tiendas_oficiales .tiendas > div > div span.letter {
  color: #e12133;
}
#tiendas_oficiales .tiendas > div li.brand-list__item {
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 17px;
}
#tiendas_oficiales .tiendas > div > div {
  border-bottom: 3px solid #e12133;
}
#tiendas_oficiales .brand_group .marca {
  width: 100%;
}
#tiendas_oficiales div.marca .img_marca:hover:before {
  border-color: #e31412;
	transition: border 0.1s;
}
#tiendas_oficiales div.marca .img_marca > div span {
  background-color: #e31412;
}

/* indice_letras desktop top*/

#tiendas_oficiales .indice-letras {
  padding: 0;
  height: 42px;
}
#tiendas_oficiales .marcas_indice-letras_lista {
  height: 42px;
  text-align: justify;
  padding: 0 5px;
  max-width: 100%;
  margin: 0 auto;
}
#tiendas_oficiales .marcas_indice-letras_lista::after {
  content: '';
  width: 100%;
  display: inline-block;
}
#tiendas_oficiales .indice-letras li {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
}
#tiendas_oficiales .indice-letras li a {
  text-transform: uppercase;
}
#tiendas_oficiales .indice-letras li.arriba {
  display: none;
}

#tiendas_oficiales .indice-letras li.is-disabled a {
  pointer-events: none;
  color: #999;
}

/* Preventa Citibanamex */

#preventa .citibanamex__banner {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#preventa .citibanamex__banner--mobile {
  display: block;
  max-width: 294px;
}
#preventa .citibanamex__banner--tablet {
  display: none;
}
#preventa .citibanamex__banner--desktop {
  display: none;
}
#preventa .citibanamex__description {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  max-width: 959px;
  margin-top: 27px;
}
#preventa .citibanamex__description h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  color: #ff202d;
  margin-bottom: 0px;
}
#preventa .citibanamex__description h3 {
  margin-top: 0px;
  color: #ff202d;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#preventa .citibanamex__description span.is-bold {
  font-weight: bold;
}
#preventa .citibanamex__description span.is-underlined {
  text-decoration: underline;
}
#preventa .citibanamex__marcas-participantes {
  padding: 23px 15px 23px 45px;
  border: 2px solid #d8d8d8;
  position: relative;
  max-width: 773px;
  margin: 0 auto;
  margin-bottom: 34px;
}
#preventa .citibanamex__marcas-participantes__icon {
  position: absolute;
  top: 23px;
  left: 14px;
  line-height: 0px;
  font-size: 36px;
  color: #e61f29;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.32);
  border-radius: 27px;
}
#preventa .citibanamex__marcas-participantes__text {
  color: #2a2a2a;
  font-size: 14px;
}
#preventa .citibanamex__marcas-participantes__text__title {
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
}
#preventa .citibanamex__marcas-participantes__text .is-semibold {
  font-weight: 600;
  text-decoration: underline;
  color: #2a2a2a;
}

/* Registro */

#registro .header::after {
  content: '';
  position: absolute;
  bottom: -3.5px;
  left: 0;
  width: 100%;
  height: 7px;
  background-image: url('../imgs/linea-ondulada.png');
}
#registro .header {
  position: relative;
  background: linear-gradient(to right, #e65a4e 0%, #f56d62 45%, #fa3c3b 100%);
}
#registro .header::before{
  background: url('../imgs/iconos/trama_registro.svg');
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-position: center bottom;
  z-index: -1;
}
#registro .hero {
  text-align: center;
  padding-top: 50px;
}
#registro .cabercera__logo {
  width: 300.66px;
}
#registro .hero__logo__img {
  background-image: url('../imgs/iconos/hotsale.svg');
  background-position: center;
  background-size: cover;
  width: 300.66px;
  height: 115px;
}
#registro .hero__subtitle {
  font-family: 'Blogger Sans';
  font-size: 30px;
  color: #ffffff;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 24px;
}
#registro .hero__registro {
  margin-top: 20px;
}
#registro .hero__registro__btn {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(to top, #000000 0%, #4f4f4f 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 2, 0, 0.21);
  padding: 8px 57px;
  margin-bottom: 15px;
  display: inline-block;
  transition: 0.3s;
}
#registro .hero__registro__btn:hover {
  cursor: pointer;
  color: black;
  background: white;
}
#registro .hero__registro__link {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 66px;
  transition: 0.3s;
}
#registro .hero__registro__link:hover {
  cursor: pointer;
  color: #f1e400;
  border-bottom: 2px solid #f1e400;
}
#registro .patrocinios {
  padding: 43px 0px 32px 0px;
}
#registro .patrocinios__title {
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #df2530;
  margin-bottom: 30px;
}
#registro .patrocinios_main-text {
  max-width: 960px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 40px;
  color: #000000;
  line-height: 30px;
}
#registro .patrocinios_main-text p {
  margin-bottom: 10px;
}
#registro .patrocinios_main-text li {
  margin-bottom: 10px;
}
#registro .patrocinios_main-text a {
  color: #000000;
  transition: 0.3s;
}
#registro .patrocinios_main-text a:hover {
  color: #df2530;
}
#registro .patrocinios__fecha-venta, #registro .patrocinios__fecha-preventa {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #040404;
}
#registro .patrocinios__fecha-preventa {
  color: #df2530;
}
#registro .patrocinios__estadisticas {
  margin-top: 60px;
}
#registro .patrocinios__estadisticas__item {
  float: left;
  width: 48%;
  height: 185px;
  margin: 0 1%;
  text-align: center;
  margin-bottom: 10px;
}
#registro .patrocinios__estadisticas__item__icon {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 5px;
}
#registro .patrocinios__estadisticas__item__cantidad {
  color: #df2530;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}
#registro .patrocinios__estadisticas__item__text {
  color: #303030;
  font-size: 13px;
  font-weight: 600;
}
#registro .patrocinios__estadisticas__item__comparacion {
  text-transform: uppercase;
  font-weight: 700;
  color: #f46d62;
  font-size: 13px;
  font-family: 'Blogger Sans';
}
#registro .patrocinios__tipos {
  margin: 0 auto;
  text-align: center;
  color: #ec6559;
  text-transform: uppercase;
}
#registro .patrocinios__tipos__link {
  font-size: 18px;
  font-weight: 700;
  color: #ec6559;
  border: 2px solid #ec6559;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(36, 36, 36, 0.17);
  padding: 10px 32px;
  margin-bottom: 14px;
  transition: 0.3s;
}
#registro .patrocinios__tipos__link:hover {
  cursor: pointer;
  background-color: #ec6559;
  color: white;
}
#registro .patrocinios__tipos__text {
  font-size: 14px;
  font-weight: 600;
}
#registro .dudas {
  background-color: #ec6559;
  color: white;
  padding: 40px 0px 50px 20px;
}
#registro .dudas__title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#registro .dudas__column {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 20px;
}
#registro .dudas__column__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
#registro .dudas__column__mail {
  color: #2a2a28;
  font-weight: 600;
  border-bottom: 2px solid #000000;
  display: inline-block;
}
#registro .dudas__column__tel {
  color: #000000;
  border-bottom: 2px solid #000000;
  display: inline-block;
  margin-left: 2px;
  font-weight: 600;
}
#registro .dudas__column ul li a {
  color: #000000;
  border-bottom: 2px solid #000000;
  display: inline-block;
  margin-left: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

/* MEDIA QUERIES MOBILE FIRST */

@media (min-width: 580px) {
  #tiendas_oficiales .tiendas > div li.brand-list__item {
    width: 31.33%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 17px;
  }
  #registro .dudas__column {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 20px;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
  }
}

@media (min-width: 768px) {
  .banner-gradient {
    padding: 25px 125px 0;
  }
  #servicios .service-container li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 14px 28px;
  }
  #servicios .service-container li:nth-child(2n) {
    padding: 0 0 28px 14px;
  }
  #servicios .service-container li:nth-child(2n+1) {
    padding: 0 14px 28px 0;
  }
  #servicios .container .service {
    width: 100%;
  }
  #servicios .offers {
    padding: 28px 0;
  }
  #servicios .offers .offer {
    width: 100%;
    line-height: 1;
  }
  #servicios .offers .container li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 14px;
  }
  #servicios .offers .container li:nth-child(2n) {
    padding: 0 0 0 14px;
  }
  #servicios .offers .container li:nth-child(2n+1) {
    padding: 0 14px 0 0;
  }
  #servicios .offers .container ul p {
    max-width: 90%;
    margin: 0 auto;
  }
  #tiendas_oficiales .marcas_indice-letras_lista {
    width: 720px;
  }
  #preventa .citibanamex__banner--mobile {
    display: block;
  }
  #preventa .citibanamex__banner--tablet {
    display: none;
  }
  #preventa .citibanamex__banner--desktop {
    display: none;
  }
  #registro .header {
    background: linear-gradient(to right, #e65a4e 0%, #f56d62 45%, #fa3c3b 100%);
  }
  #registro .patrocinios__estadisticas__item {
    width: 31.33%;
  }
}

@media (min-width: 992px) {

  #tiendas_oficiales .marcas_indice-letras_lista {
    width: 940px;
  }
  #tiendas_oficiales .tiendas > div li.brand-list__item {
    width: 23%;
  }
  #preventa .citibanamex__banner--mobile {
    display: none;
  }
  #preventa .citibanamex__banner--tablet {
    display: none;
  }
  #preventa .citibanamex__banner--desktop {
    display: block;
    max-width: 1090px;
  }
  #preventa .citibanamex__description {
    margin-top: 45px;
    margin-bottom: 43px;
    font-size: 22px;
    line-height: 25px;
    color: #3e3e3e;
  }
  #preventa .citibanamex__description h2 {
    font-size: 25px;
    line-height: 25px;
  }
  #preventa .citibanamex__description h3 {
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
  }
  #preventa .citibanamex__marcas-participantes {
    margin-bottom: 58px;
    padding: 23px 61px 15px 89px;
  }
  #preventa .citibanamex__marcas-participantes__icon {
    font-size: 79px;
    top: 17px;
    left: 18px;
  }
  #preventa .citibanamex__marcas-participantes__text {
    font-size: 16px;
    line-height: 22px;
  }
  #preventa .citibanamex__marcas-participantes__text__title {
    font-size: 18px;
    line-height: 23px;
  }
  #registro .hero__logo__img {
    width: 604px;
    height: 231px;
    background-image: url('../imgs/iconos/hotsale_desktop.svg');
  }
  #registro .patrocinios__title {
    font-size: 32px;
  }
  #registro .patrocinios__estadisticas__item {
    width: 14.66%;
    margin-bottom: 10px;
  }
  #registro .patrocinios__tipos {
    margin-top: 6px;
  }
  #registro .dudas {
    padding: 40px 0px 50px 0px;
    background: linear-gradient(to right, #e65a4e 0%, #f56d62 45%, #fa3c3b 100%);
  }
  #registro .dudas__column {
    margin-bottom: 20px;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
  }
}

@media ( min-width: 1200px ) {
  #servicios .offers .offer {
    height: 100px;
    line-height: 0.85;
    padding: 32px 15px 28px;
  }
  #servicios .offers .offer .offer-text {
    text-align: left;
    float: left;
  }
  #servicios .offers .offer a {
    float: right;
    width: auto;
  }
  #tiendas_oficiales .marcas_indice-letras_lista {
    width: 1090px;
  }
  #tiendas_oficiales .tiendas > div li.brand-list__item {
    width: 15.66%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 17px;
  }
}

.marcas_indice-letras_arrow {
  display: none;
}
/*MEDIA QUERIES MOBILE LAST */



@media (max-width: 910px) {
  #tiendas_oficiales .indice-letras.fixed .letra {
    width: calc((100vw - 80px) / 16);
  }
  #tiendas_oficiales .indice-letras.fixed .letra.numbers {
    width: calc((100vw - 80px) / 16);
  }
  #tiendas_oficiales .indice-letras.fixed  ul.marcas_indice-letras_lista {
    width: calc(((100vw - 80px) / 16) * 27);
  }
}

@media (max-width: 767px) {
  #tiendas_oficiales .indice-letras.fixed .letra {
    width: calc((100vw - 80px) / 12);
  }
  #tiendas_oficiales .indice-letras.fixed .letra.numbers {
    width: calc((100vw - 80px) / 12);
  }
  #tiendas_oficiales .indice-letras.fixed  ul.marcas_indice-letras_lista {
    width: calc(((100vw - 80px) / 12) * 27);
  }

  .marcas_indice-letras_arrow {
    display: block;
    width: 40px;
    height: 35px;
    top: 0px;
    line-height: 35px;
    position: absolute;
    background: #df2530;
    z-index: 10;
    color: #000;
    text-align: center;
  }

  .marcas_indice-letras .is-left {
    left: 0;
  }
  .marcas_indice-letras .is-right {
    right: 0;
  }
}

@media (max-width: 560px) {
  .banner-gradient p:first-child {
    font-size: 20px;
    line-height: 1.1;
  }
  .banner-gradient p {
    font-size: 17px;
  }
  .banner-gradient__btn {
    line-height: 1;
  }
  #interna_tienda .learn-more-citibanamex {
    font-size: 20px;
    line-height: 1.1;
  }
  #tiendas_oficiales .indice-letras.fixed .letra {
    width: calc((100vw - 80px) / 8);
  }
  #tiendas_oficiales .indice-letras.fixed .letra.numbers {
    width: calc((100vw - 80px) / 8);
  }
  #tiendas_oficiales .indice-letras.fixed  ul.marcas_indice-letras_lista {
    width: calc(((100vw - 80px) / 8) * 27);
  }
}


.letter-index_wrapper {
  padding: 0;
  height: 42px;
  border-top: 1px solid #212123;
  border-bottom: 1px solid #212123;
  margin-top: 32px;
}
.letter-index_width-control {
  position: relative;
  max-width: 100%;
  margin: auto;
}
.letter-index_letters {
  position: relative;
  display: block;
  /* width: calc(100% - 40px); */
  margin: auto;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
.letter-index_arrow {
  display: none;
  width: 40px;
  height: 40px;
  top: 0px;
  line-height: 40px;
  position: absolute;
  /* background: #df2530; */
  z-index: 10;
  color: #000;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.letter-index_arrow.is-left {
  left: 0;
}
.letter-index_arrow.is-right {
  right: 0;
}
.letter-index_letter {
  display: block;
  float: left;
  line-height: 40px;
  width: 100%;
  max-width: 40px;
  white-space: nowrap;
}
.letter-index_letter a {
  padding: 0 10px;
  color: #414141;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  display: block;
}
.letter-index_letter.is-numbers a {
  padding-left: 0;
  max-width: 60px;
}
.letter-index_letter.is-disabled a {
  pointer-events: none;
  color: #999;
}
.letter-index_letter a:hover {
  color: #e12133;
}
.letter-index_go-top {
  display: none;
}
@media (max-width: 1200px) {
  .letter-index_width-control {
    padding: 0px 40px;
  }
  .letter-index_letters {
    width: 100%;
  }
  .letter-index_arrow {
    display: block;
  }
}


.letter-index_wrapper.fixed {
  position: fixed;
  top: 58px;
  left: 0px;
  right: 0px;
  z-index: 5;
  background-color: #df2530;
  font-size: 16px;
  height: 27px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}
.letter-index_wrapper.fixed .letter-index_letters {
  position: relative;
  padding: 0;
  height: 27px;
  max-width: 1150px;
  margin: auto;
/*   max-width: calc(100% - 105px); */
}
.letter-index_wrapper.fixed .letter-index_letter {
  height: 27px;
  /* width: calc((100% - 80px) / 27); */
  padding: 0;
  line-height: 23px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.letter-index_wrapper.fixed .letter-index_letter.is-numbers {
  padding: 0;
}
.letter-index_wrapper.fixed .letter-index_letter a {
  height: 23px;
  color: white;
  padding: 0;
  font-weight: 600;
  line-height: 23px;
}
.letter-index_wrapper.fixed .letter-index_go-top {
  display: none;
  right: 5px;
  height: 23px;

  float: right;
}
.letter-index_wrapper.fixed .letter-index_go-top a {
  color: #212123;
  text-decoration: underline;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  display: block;
  margin-right: 10px;
  height: 23px;
  line-height: 23px;
  padding: 0;
}
.letter-index_wrapper.fixed .letter-index_letter.is-active a {
  color: #e31412;
  background-color: #ffffff;
}
.letter-index_wrapper.fixed .letter-index_letter.is-disabled a {
  color: #9b131b;
}

.letter-index_wrapper.fixed .letter-index_arrow {
  height: 23px;
  line-height: 23px;
}

@media (max-width: 1450px) {
  .letter-index_wrapper.fixed .letter-index_width-control {
      max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  .letter-index_wrapper.fixed .letter-index_width-control {
    max-width: 970px;
  }
}
@media (max-width: 991px) {
  .letter-index_wrapper.fixed .letter-index_width-control {
    max-width: 720px;
  }
}
/* @media (min-width: 768px) {
  .letter-index_wrapper.fixed .letter-index_letters {
    max-width: 750px;
  }
} */

