@import url('../icon-fonts/style.css');
@import url('../fonts/gotham/stylesheet.css');
@import url('../fonts/roboto_condensed/stylesheet.css');

/*

	Gotham Ultra Italic
	Gotham Black
	Gotham Bold
	Gotham Medium
	Gotham Pro Light
	Gotham Light
	Gotham Book
	Gotham Ultra

*/



body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Gotham';
	color: #373535
}


a,
button,
input[type=checkbox] {
	outline: none !important
}

label {
	font-weight: normal
}

a,
button,
input[type=submit],
input[type=checkbox],
input[type=radio] {
	outline: none !important
}

a {
	text-decoration: none;
	display: inline-block
}

ul {
	padding: 0;
	margin: 0;
	list-style: none
}

a .icon-right_3 {
	color: #373535;
	font-size: 10px;
	margin-right: 3px
}


img.email_icon {
	width: 24px;
	height: 24px
}



.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important
}

.no-padding-left {
	padding-left: 0 !important
}

.no-padding-right {
	padding-right: 0 !important
}



.top_header.ie8 {
	background-color: #b1b1b1;
	padding: 6px 0;
	text-align: center;
	text-transform: uppercase
}

.top_header.ie8 p {
	margin: 0;
	font-size: 13px;
	color: #414243;
	padding-right: 20px;
	position: relative
}

.top_header.ie8 p a {
	text-decoration: underline;
	color: #414243
}

.top_header.ie8 .close_btn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	text-decoration: none;
	padding: 3px;
	line-height: 12px
}



.header {
	z-index: 3;
	background-color: #f8f8f8
}

.header .logo a {
	max-width: 103px;
	max-height: 92px;
	display: inline-block
}

.header .logo,
.header .fechas {
	display: inline-block
}

.header .logo {
	margin-right: 20px
}

.header .logo > a {
	display: inline-block
}


.header .logo a:hover {
	opacity: 0.7
}

.header .slogan p {
	font-weight: 900;
	font-size: 22px;
	line-height: 20px;
	color: #f5611e
}

.header .slogan {
	margin-left: 0;
	vertical-align: 23px !important
}

.header .slogan p {
	line-height: 27px;
	margin-bottom: 0
}

.header .slogan,
.header .buscador.desktop {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-right: 35px
}

.header .buscador form {
	position: relative
}

.header .buscador .submit_group {
	width: 340px
}


.header .btn_menu {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
	font-size: 30px;
	margin-top: 2px;
	display: none;
	float: right;
	margin-left: 30px;
	color: #fc5226
}


.header .btn_menu {
	display: none
}


.header .cabecera {
	padding: 5px 0
}

.cabecera {
    background-color: white;
}

.cabecera .logo {
    float: left;
}

.header .fechas {
	margin-top: 20px;
	vertical-align: top
}

.header .fechas * {
	display: inline-block;
	vertical-align: middle
}

.header .fechas p {
	margin: 0
}

.header .fechas p * {
	vertical-align: top
}

.header .fechas p strong {
	font-weight: 900 !important;
	line-height: 18px
}

.header .fechas p strong span {
	font-size: 12px;
	vertical-align: 0
}

.header .main_sponsors {
	overflow: hidden
}

.header .main_sponsors span {
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
	vertical-align: middle;
	color: #707070
}

.header .main_sponsors a {
	position: relative
}

.header .main_sponsors {
	float: right
}

.header .links {
	text-align: right;
	float: right
}

.header .links a {
	display: inline-block
}

.header .redes {
	margin-bottom: 18px;
	margin-top: 7px
}

.header .menu {
	background-color: #2d2e35;
	text-align: center
}

.header .menu {
	font-size: 0;
	font-family: 'Roboto Condensed'
}

.header .menu .botonera li.activo + li:after {
	display: none
}

.header .menu .botonera li.activo {
	background-color: #fc5326
}

.header .menu .botonera li.activo a:hover {
	color: white
}

.header .menu .botonera li {
	display: inline-block;
	max-width: 108px;
	vertical-align: top;
	width: 100%;
	position: relative
}

.header .menu .botonera li:after {
	content: '';
	position: absolute;
	left: -1px;
	top: 50%;
	transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
	height: 40px;
	border-left: 1px solid #4e5058
}

.header .menu .botonera li:first-child:after {
	content: none
}

.header .menu .botonera li a {
	color: white;
	font-weight: 500;
	font-size: 13px;
	display: inline-block;
	text-transform: uppercase;
	height: 75px;
	width: 100%;
	line-height: 14px;
	position: relative
}

.header .menu .botonera li a div {
	width: 100%;
	height: 47px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
}

.header .menu .botonera li a span.section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	width: 100%;
	padding: 0 10px;
	transition: padding 0.2s linear
}

.header .menu .botonera li a span.icon {
	font-family: 'Icomoon';
	content: '\e954';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	font-size: 23px;
	display: block;
	opacity: 0;
	transition: top 0.2s linear,
				opacity 0.2s linear
}



.header .menu .botonera li.activo a span.section,
.header .menu .botonera li a:hover span.section {
	padding-top: 28px;
	transition: padding 0.2s linear
}

.header .menu .botonera li.activo a span.icon,
.header .menu .botonera li a:hover span.icon {
	opacity: 1;
	top: -6px;
	transition: top 0.2s linear,
				opacity 0.2s linear
}




.header .menu .botonera li a span.icon.icon-electro_hs {
	font-size: 27px
}

.header .menu .botonera li a span.icon.icon-viajes_hs {
	font-size: 21px
}

.header .menu .botonera li a span.icon.icon-muebles_hs {
	font-size: 23px
}

.header .menu .botonera li a span.icon.icon-indumentaria_hs,
.header .menu .botonera li a span.icon.icon-deportes_hs {
	font-size: 30px
}

.header .menu .botonera li a span.icon.icon-alimentos_hs,
.header .menu .botonera li a span.icon.icon-automotriz_hs,
.header .menu .botonera li a span.icon.icon-servicios_hs {
	font-size: 28px
}

.header .menu .botonera li a:hover span.icon.icon-deportes_hs,
.header .menu .botonera li a:hover span.icon.icon-indumentaria_hs { 
	top: -6px
}

.header .menu .botonera li a:hover span.icon.icon-viajes_hs {
	top: 0
}

.header .menu .botonera li a span.icon.icon-varios_hs {
	font-size: 17px
}

.header .menu .botonera li a:hover span.icon.icon-varios_hs {
	top: 0
}





.header .menu .botonera li.viajes{
	max-width: 80px
}

.header .menu .botonera li.muebles a {
	max-width: 110px
}

.header .menu .botonera li.indumentaria {
	width: 115px
}

.header .menu .botonera li.bebes {
	width: 85px
}

.header .menu .botonera li.electro {
	width: 90px
}

.header .menu .botonera li.automotriz {
	width: 105px
}

.header .menu .botonera li.varios {
	width: 78px
}

.header .menu .botonera li.servicios {
	width: 88px
}

.header .menu .botonera li.megaofertas {
	padding: 13px 6px;
	max-width: 100px;
	line-height: 0
}

.header .menu .botonera li.megaofertas a {
	font-weight: bold;
	height: 46px;
	width: 83px;
	padding: 11px 5px;
	line-height: 13px;
	border-radius: 3px;
	box-shadow: 0 4px 0 rgba(0, 2, 0, 0.21)
}

.header .menu .botonera li.megaofertas a:hover {
	text-decoration: underline;
	color: white
}

.header .menu .botonera li.megaofertas a span {
	padding: 0 10px;
	line-height: 13px;
	padding-top: 0 !important
}

.header .fechas p {
	color: #fc5226;
	font-size: 22px;
	max-width: 130px;
	line-height: 25px
}




.header .menu_sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: white;
	border: none;
	transition: top 0.2s linear
}

.header .menu_sticky.oculto {
	top: -200px;
	transition: top 0.2s linear
}

.header .menu_sticky:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: url('../imgs/iconos/sombra_bottom_2.png') center top repeat-x;
	height: 15px;
	z-index: 2
}

.header .menu_sticky .botonera li {
	font-size: 10px;
	width: 100px
}

.header .menu_sticky .botonera li.logo {
	margin: 0;
	max-width: 86px
}

.header .menu_sticky .botonera li.logo a {
	padding-left: 0;
	padding: 10px 0;
	background-color: transparent !important
}

.header .menu_sticky .botonera li.megaofertas {
	padding: 0;
	width: 84px;
	height: 75px
}

.header .menu_sticky .botonera li.megaofertas a {
	box-shadow: none;
	width: 73px;
	color: white;
	padding-top: 17px;
	font-size: 11px
}

.header .menu_sticky .botonera li.automotriz {
    width: 95px
}

.header .menu_sticky .botonera li.viajes {
    width: 65px
}

.header .menu_sticky .botonera li.servicios,
.header .menu_sticky .botonera li.electro {
    width: 76px
}

.header .menu_sticky .botonera li.deportes {
	width: 85px
}

.header .menu_sticky .botonera li.alimentos {
	width: 90px
}

.header .menu_sticky .botonera li.varios {
    width: 65px
}

.header .menu_sticky .botonera li.bebes {
    width: 75px
}

.header .menu_sticky .botonera li a {
	color: white;
}

.header .menu_sticky .botonera .logo a {
	max-width: initial;
	max-width: auto
}

.header .menu_sticky .botonera .logo a img {
	max-width: 67px;
	max-height: 55px
}

.header .menu_sticky .botonera li a {
	padding: 14px 5px
}

.header .menu_sticky .botonera li.search {
	max-width: 41px;
	height: 73px
}

.header .menu_sticky .botonera li.search a {
	color: #fa4d32;
	border-radius: 3px;
	background-color: white;
	font-size: 20px;
	height: 45px;
	padding: 13px 11px;
	transition: color 0.1s linear,
				background-color 0.1s linear
}

.header .menu_sticky .botonera li.megaofertas a,
.header .menu_sticky .botonera li.search a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
}

.header .menu_sticky .botonera li.search a:hover {
	color: white;
	background-color: #fa4d32;
	transition: color 0.1s linear,
				background-color 0.1s linear
}

.header .menu_sticky > div > .container {
	position: relative
}

.header .menu_sticky > div {
    position: relative;
    background: #2d2e35;
    z-index: 2
}

.header .menu_sticky .buscador {
	font-family: 'Gotham';
	position: absolute;
	top: 110%;
	left: 50%;
	width: 98%;
	z-index: 1;
	padding: 0 15px;
	display: none;
	transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0)
}

.header .menu_sticky .buscador .submit_group {
	width: 100%;
	margin: 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.header .menu_sticky .buscador .submit_group > input {
	background-color: #ddd;
	padding: 13px 15px;
	border: 1px solid #cccccc
}

.header .menu_sticky .buscador .submit_group > input::placeholder {
	color: #757575;
	opacity: 1
}

.header .menu_sticky .buscador .resultados_busqueda {
	text-align: left;
	width: 100%
}



.menu_hs_content {
	display: none;
	position: fixed;
	bottom: -200px;
	right: 10px;
	z-index: 2;
	transition: bottom 0.2s linear
}

.menu_hs_content.sticky {
	bottom: 10px;
	transition: bottom 0.2s linear;
	z-index: 3
}

.menu_hs_content .btn_hs_menu {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: relative;
	background-color: #ff632c;
	color: white;
}

.menu_hs_content .btn_hs_menu > span {
	font-size: 17px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
}

.menu_hs_content .btn_hs_menu .tooltip.higlight {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	margin: 0;
	margin-right: 15px;
	bottom: initial;
	top: 50%;
	right: 100%;
	padding: 6px 11px 8px 11px;
	text-align: left;
	transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
	background-color: #ff511d;
	width: 220px
}

.menu_hs_content .btn_hs_menu .tooltip.higlight:before {
	background: url('../imgs/iconos/tooltip_chevron_right_hs.png') left center no-repeat;
	top: 0;
	left: 100%;
	width: 14px;
	height: 100%
}

.menu_hs_content .btn_hs_menu .tooltip.higlight p {
	font-family: 'Gotham';
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase
}






.footer {
	padding-bottom: 20px
}

.footer .terminos p {
    font-family: Verdana;
    color: #9b9a9a;
    font-size: 10px;
}


.footer_2 .acceso_cace {
	background-color: #f2f2f2;
	margin-top: 20px;
	padding: 10px
}

.footer .acceso_cace h3 {
	color: #6f6f70;
	font-weight: 900;
	font-size: 14px
}

.footer .acceso_cace > a {
	display: inline-block;
	position: relative;
	width: 12%;
	vertical-align: middle
}

.footer .acceso_cace > a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: url('../imgs/iconos/sombra_3.png') center top no-repeat;
	height: 8px
}

.footer .acceso_cace > a:after {
	top: 100%;
	bottom: initial;
	background-image: url('../imgs/iconos/sombra_mini_down.png');
	background-size: 100% 9px;
	height: 9px
}

.footer .acceso_cace p {
	display: inline-block;
	width: 84%;
	margin: 0;
	font-family: Verdana;
	vertical-align: middle;
	font-size: 10px;
	color: black;
	line-height: 15px;
	padding-left: 20px
}

.footer .acceso_cace p > a {
	color: #fc5226;
	text-decoration: underline
}




.footer_1 {
	background-color: #f2f2f2;
	padding-bottom: 30px
}

.footer_1 .newsletter {
	position: relative;
	background-color: #fc5226;
	padding: 15px;
	margin: 0;
	z-index: 1
}

.footer_1 .newsletter p {
	color: white;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	margin: 0;
	width: 9%;
	margin-top: 5px
}

.footer_1 .newsletter > input,
.footer_1 .newsletter .multiselect + .btn-group button {
	font-size: 13px;
	width: 100%
}

.footer_1 .newsletter .multiselect + .btn-group button {
	vertical-align: top
}

.footer_1 .newsletter > * {
	display: inline-block;
	vertical-align: top
}

.footer_1 .newsletter > input {
	width: 24%;
	height: 35px;
	margin-right: 1%;
	padding: 8px 10px
}

.footer_1 .newsletter > input.error {
	position: relative
}

.footer_1 .newsletter > .select_mutiple {
	width: 25%
}

.footer_1 .newsletter .d_check {
	width: 21%;
	padding-left: 10px;
	font-family: Verdana;
	font-size: 10px;
	margin: 0;
	margin-top: 10px
}

.footer_1 .newsletter .btn_black {
	margin-top: 2px
}

.footer_1 .newsletter .btn_black:hover {
	text-decoration: underline
}

.footer_1 .newsletter .d_check input {
	vertical-align: middle;
	margin: 0
}

.footer_1 .newsletter > div {
	width: 18%;
	text-align: right
}

.footer_1 .accesos_categorias h3 {
	color: #fc5226;
	font-weight: bold;
	font-size: 13px
}

.footer_1 .accesos_categorias h3 span {
	color: #b3b3b3;
	margin-right: 3px;
	font-size: 15px
}

.footer_1 .accesos_categorias ul li {
	width: 173px;
	display: inline-block;
	margin: 3px 0;
	vertical-align: top
}

.footer_1 .accesos_categorias ul li a  {
	font-weight: 300;
	font-size: 11px;
	opacity: 1;
	color: #3d464e;
	display: inline-block
}

.footer_1 .accesos_categorias ul li a:hover {
	color: #fc5226
}

.footer_1 .accesos_categorias ul li a.mo_link {
	color: #fc5226;
	font-weight: 500
}

.footer_1 .accesos_categorias ul li a.mo_link:hover {
	color: #3d464e
}

.footer_1 .accesos {
	padding-top: 10px;
	padding-left: 0
}

.footer_1 .accesos > div {
	width: 205px;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px
}

.footer_1 .accesos > div.link_tiendas_oficiales a,
.footer_1 .accesos > div.link_clipping_de_prensa a {
	width: 120px
}

.footer_1 .accesos a {
	color: #fc5226;
	width: 175px;
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	opacity: 1;
	line-height: 16px
}

.footer_1 .accesos a span {
	color: #b5b4b5;
	position: absolute;
	top: 2px;
	left: 0;
	font-size: 17px
}

.footer_1 .accesos a span.icon-fiscalizada {
	font-size: 20px
}

.footer_1 .accesos a span.icon-chat {
	top: 2px
}

.footer_1 .accesos a:hover,
.footer_1 .accesos a:hover span {
	color: #3b3a3b
}

.footer_1 .seguinos {
	padding-left: 55px
}

.footer_1 .seguinos h3 {
	font-weight: bold;
	font-size: 13px;
	color: #fc5226;
	margin-bottom: 10px
}

.footer_1 .seguinos .redes {
	padding-top: 20px
}

.footer_1 .seguinos .redes .facebook,
.footer_1 .seguinos .redes .facebook a {
	padding-left: 0
}



.footer_2 .colaboradores > p strong {
	color: #515151;
	font-weight: 900
}


.footer_2 .colaboradores {
	padding: 15px 0
}

.footer_2 .colaboradores > p {
	margin: 0;
	display: inline-block
}

.footer_2 .colaboradores > p > a {
	font-weight: 500;
	text-decoration: underline;
	color: #515151
}

.footer_2 .colaboradores > div {
	float: right;
	display: inline-block
}

.footer_2 .colaboradores > div a {
	border-left: 2px solid #d4d4d4;
	padding-left: 15px;
	margin-left: 10px;
	opacity: 1
}

.footer_2 .colaboradores > div a:first-child {
	border: none
}

.footer_2 .colaboradores > div a:hover img {
	opacity: 0.7
}





ul.redes li {
	display: inline-block;
	border-left: 2px solid #b2b2b2;
	padding: 0 5px;
	height: 22px
}

ul.redes li:first-child {
	border-left: 0
}

ul.redes li a {
	font-size: 20px;
	line-height: 20px;
	padding: 0 5px;
	font-size: 20px;
	vertical-align: middle
}

ul.redes li.instagram img {
	width: 22px;
	vertical-align: -3px
}

ul.redes li.facebook a {
	color: #3461d5
}

ul.redes li.twitter a {
	color: #0086ed;
	font-size: 18px
}

ul.redes li.google_plus a {
	color: #ff6a18
}

ul.redes li.youtube a {
	color: #ed2b06;
	font-size: 17px
}






.shadow_up,
.shadow_down {
	position: relative
}

.shadow_up:before,
.shadow_down:after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 16px;
	background-size: auto 100%
}

.shadow_up:before {
	bottom: 100%;
	background: url('../imgs/iconos/sombra_top_2.png') center bottom repeat-x
}

.shadow_down:after {
	top: 100%;
	background: url('../imgs/iconos/sombra_bottom_2.png') center top repeat-x
}





.lista_marcas {
	font-size: 0;
	padding-bottom: 5px;
	margin-bottom: 30px;
	background-color: white;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4)
}




.marcas div.marca {
	border: 1px solid #dcdcdc;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 25px;
	text-align: center
}


.marcas .marcas_content > div.item_marca {
	width: 33.33%;
	padding: 0 15px;
	display: inline-block;
	vertical-align: top
}

.marcas div.marca {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	width: 100%
}

.marcas div.marca .img_marca {
	border: 19px solid white
}



.marcas div.marca .img_marca:hover {
	outline: 4px solid #404349 !important
}

.marcas div.marca .img_marca:hover > div {
	display: block
}

.marcas div.marca .img_marca > div {
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 100%;
	text-align: center;
	display: none
}

.marcas div.marca .img_marca > div span {
	color: white;
	font-weight: bold;
	font-size: 18px;
	background-color: #404349;
	padding: 5px 10px
}

.marcas div.marca .img_marca > div {
	bottom: -14px
}


.marcas .marcas_content.marcas_black > div.item_marca {
	width: 25%
}


.marcas .marcas_content.marcas_platinum > div.item_marca {
	width: 20%
}

.marcas .marcas_content.marcas_platinum div.marca .img_marca {
	border-width: 13px;
}

.marcas .marcas_content.marcas_platinum div.marca .img_marca > div span {
	font-size: 13px;
	padding: 2px 8px
}

.marcas .title {
	color: #4a4949 !important;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px !important
}





.header .menu .botonera li a.mundial {
    color: #ff6e43
}

.icon-servicios_hs:before {
    content: "\e970";
    font-size: 23px;
}

.btn_mo,
.btn_mo_bg {
	background: #15bdc1;
		background: -webkit-linear-gradient(bottom, #15bdc1 0%, #2694e9 100%);
		background: -moz-linear-gradient(bottom, #15bdc1 0%, #2694e9 100%);
		background: -ms-linear-gradient(bottom, #15bdc1 0%, #2694e9 100%);
		background: -o-linear-gradient(bottom, #15bdc1 0%, #2694e9 100%);
		background: linear-gradient(to bottom, #15bdc1 0%, #2694e9 100%);
	color: white;
	border-radius: 2px;
	padding: 10px 15px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
	font-size: 15px;
	width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.21);
	transition: background 0.1s linear
}

.btn_mo_bg:hover {
	background: #00a9b9;
		background: -webkit-linear-gradient(bottom, #00a9b9 0%, #057bd6 100%);
		background: -moz-linear-gradient(bottom, #00a9b9 0%, #057bd6 100%);
		background: -ms-linear-gradient(bottom, #00a9b9 0%, #057bd6 100%);
		background: -o-linear-gradient(bottom, #00a9b9 0%, #057bd6 100%);
		background: linear-gradient(to bottom, #00a9b9 0%, #057bd6 100%);
	transition: background 0.1s linear
}

.btn_mo {
	border: 2px solid #1372b9;
	background: #f9f9f9;
	color: #2596e7;
	text-transform: uppercase;
	line-height: 19px;
	font-size: 14px;
	border-radius: 3px
}


.main_sponsors a {
    background-color: white;
    border: 1px solid #cdcdcd;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.10)
}

.cabecera .main_sponsors {
	padding-bottom: 10px
}

.cabecera .main_sponsors * {
    display: inline-block;
    vertical-align: middle;
}

.cabecera .main_sponsors a {
    max-width: 85px;
    margin-left: 7px;
}





.search_button {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	position: relative;
	background-color: white;
	border: 2px solid #33364d;
	border-radius: 2px;
	padding: 10px 15px;
	text-align: left;
	padding-right: 30px;
	width: 100%;
	height: 44px;
	margin: auto;
	margin-top: 165px;
	margin-bottom: 13px;
	display: block;
	max-width: 600px
}

.search_button > span {
	color: #303030;
	font-weight: bold;
	font-style: normal;
	font-size: 14px;
	line-height: 15px;
    display: inline-block
}

.search_button > div {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 45px;
	text-align: center;
	background-color: #33364d;
	padding: 11px 14px
}

.search_button > div span {
	color: white;
	font-size: 18px
}





#main > .banner {
	padding-top: 20px
}

.banner .title {
	font-weight: 900;
	font-size: 16px;
	color: white;
	text-align: center;
	width: 100%;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.37);
	display: inline-block;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 0
}

.banner .title span {
	font-size: 13px;
	display: block
}

.banner .title + p,
.banner .title + h1 {
	font-size: 11px;
	color: white;
	font-weight: bold;
	text-align: center
}

.banner .title + h1 {
	margin-top: 0
}

.banner {
	background: #fc5226;
		background: -webkit-linear-gradient(bottom, #fc5226 17%, #f73b5e 100%);
		background: -moz-linear-gradient(bottom, #fc5226 17%, #f73b5e 100%);
		background: -ms-linear-gradient(bottom, #fc5226 17%, #f73b5e 100%);
		background: -o-linear-gradient(bottom, #fc5226 17%, #f73b5e 100%);
		background: linear-gradient(to bottom, #fc5226 17%, #f73b5e 100%);
	background-size: auto 100%
}

.banner > .container {
	position: relative
}

.banner > .container:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 230px;
	width: 100%;
	background: url('../imgs/iconos/banner.png') center bottom no-repeat
}


.texto_seo {
	background-color: white;
	position: relative;
	padding: 30px 0
}

.texto_seo:before {
	content: '';
	background: url('../imgs/iconos/sombra_top_6.png') center top repeat-x;
	height: 44px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0
}

.texto_seo p {
	font-family: 'verdana';
	font-size: 11px;
	color: #454545;
	line-height: 20px;
	text-align: center
}


.banner {
	background: url('../imgs/iconos/bg_banner.png') center bottom no-repeat;
	background-size: cover
}

.banner > .container:before {
	background-size: 540px auto
}

.banner > .container::before {
    background-position: right center;
    height: 184px;
}

.buscador {
	position: relative
}


.banner .buscador.visible,
.header .buscador.visible {
	position: relative;
	z-index: 2 !important
}

.banner .buscador.visible form,
.header .buscador.visible form {
	position: relative
}

#sin_resultados #main .buscador.visible form:before,
.header .menu.menu_sticky.visible:before,
.banner .buscador.visible form:before,
.header .buscador.visible form:before {
	content: '';
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2
}

#sin_resultados #main .buscador.visible .submit_group button,
.banner .buscador.visible .submit_group button {
	background-color: #fc5226;
	color: white !important
}

.banner .buscador .submit_group,
.header .buscador .submit_group {
	position: relative
}

.resultados_busqueda,
.buscador .submit_group {
	z-index: 2
}


.buscador .submit_group > input {
    color: #fc5226 !important;
}

.buscador .submit_group > input::placeholder {
	color: #6e6e6e
}

.buscador .submit_group > input::-webkit-placeholder {
	color: #6e6e6e
}

.buscador .submit_group > input::-moz-placeholder {
	color: #6e6e6e
}


.buscador.mobile button > .icon,
.submit_group [type="submit"] {
    height: 29px;
    border: none;
    background-color: white;
    color: #bbbbbc;
    font-size: 20px;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="password"] {
    font-size: 16px;
    color: #414243;
    width: 100%;
    border: 1px solid rgba(12, 5, 13, 0.1);
    padding: 8px 10px;
        padding-right: 10px;
    padding-right: 10px;
    outline: none;
}

.submit_group .icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
	    -webkit-transform: translate(0, -50%);
	    -moz-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
    right: 10px;
}

#main .buscador label {
    width: 100%;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

#main .buscador .submit_group input {
    border-radius: 3px;
}

#main .buscador input {
    padding-right: 40px;
}






#main .buscador button {
    font-size: 17px;
}

#main .buscador label {
    width: 100%;
}



#main .buscador {
	margin: 50px 0;
	margin-top: 0
}

#main .buscador {
	padding: 9px 10px;
	z-index: 1
}

#main .buscador input {
	padding-right: 40px
}

#main .buscador button {
	border-radius: 0 3px 3px 0;
	font-size: 17px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 45px;
	text-align: center;
	color: #f9705a;
	font-size: 18px
}

#main .buscador .submit_group input {
	border-radius: 3px
}

#main .buscador p,
#main .buscador h1 {
	font-size: 25px;
	color: white;
	font-weight: 900
}

#main .buscador label {
	width: 100%;
	margin: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	border-radius: 2px
}




.resultados_busqueda.visible {
    display: block;
}

.banner .resultados_busqueda {
    width: 100%;
    top: 91%;
}

.resultados_busqueda {
    position: absolute;
    top: 100%;
    left: 0;
    width: 380px;
    z-index: 1;
    display: none
}

.banner .resultados_busqueda {
	width: 100%;
	top: 91%;
	padding-right: 45px;
	padding-top: 3px
}

.resultados_busqueda.visible {
	display: block
}

.resultados_busqueda .results_content {
	border: 1px solid #cac8ca;
	background-color: white
}

.resultados_busqueda .results_content > div {
	padding: 9px 0
}

.resultados_busqueda .results_content > div a {
	padding: 7px 10px;
	display: block;
	color: #414243;
	white-space: normal;
	font-size: 14.5px;
}

.resultados_busqueda .results_content > div a span.icon {
	color: #b5b4b5;
	font-weight: normal !important;
	font-size: 15px
}

.resultados_busqueda .results_content > div a span.icon.icon-shopping {
	font-family: 'icomoon' !important;
}


.resultados_busqueda .results_content > div a span {
	font-weight: bold;
	color: #414243
}


.resultados_busqueda .results_content > div a strong {
	font-weight: bold;
	color: #fc5226
}

.resultados_busqueda .results_content > div a:focus,
.resultados_busqueda .results_content > div a:hover {
	background-color: #bfbfbf
}

.resultados_busqueda .results_content > div a:focus span.icon,
.resultados_busqueda .results_content > div a:hover span.icon {
	color: #414243
}

.resultados_busqueda .destacados {
	background-color: white;
}

.resultados_busqueda .categorias {
	background-color: #f7f7f7;
	border-top: 1px solid #dddcdd
}


















@media ( min-width: 1200px ){

	.apoyos .item a {
		border-bottom: 3px solid #d2d2d2;
		width: 160px
	}

}



@media (max-width: 1199px){

	.info_listing div.marca .img_marca > div span {
		display: none !important
	}

	.header .btn_menu {
		display: block
	}

	.header .cabecera {
		padding: 10px 0
	}

	.header > .cabecera > .container {
		padding-right: 70px
	}

	.header > .cabecera > .container {
		padding-right: 15px
	}

	.header .cabecera .container {
		position: relative
	}

	.header .logo {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
		max-width: 85px
	}

	.header .logo > a > img {
		max-width: 62px;
		max-height: 51px
	}

	.header .fechas {
		margin: 0
	}

	.header .links {
		width: 100%;
		float: none;
		display: inline-block
	}

	.header .fechas {
		margin-top: 10px
	}

	.header .main_sponsors {
		margin-top: 15px;
		vertical-align: top;
		float: none
	}

	.header .main_sponsors span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px
	}

	.buscador.mobile,
	.header .buscador.desktop {
		width: 100%;
		position: absolute;
		bottom: -30px;
		left: 0;
		margin-left: 0;
		padding: 0 15px
	}

	.buscador.mobile button,
	.header .buscador.desktop form {
		margin: auto;
		display: block;
		max-width: 720px
	}

	.header .buscador.desktop label,
	.header .buscador.desktop .submit_group {
		width: 100% !important
	}

	.header .resultados_busqueda {
		width: 100%
	}

	.header_mobile .search_button > span {
		color: #adabab
	}



	.footer_1 .accesos_categorias ul {
		width: 144px;
		display: inline-block;
		vertical-align: top
	}

	.footer_1 .accesos > div {
		width: 185px
	}

	.footer_1 .seguinos {
		padding-left: 0
	}

	.footer_1 .accesos > div.link_tiendas_oficiales a,
	.footer_1 .accesos > div.link_clipping_de_prensa a {
		width: 110px
	}

	.footer_1 .accesos_categorias a,
	.footer_1 .accesos a {
		width: 100% !important
	}

	.footer_1 .newsletter p {
		width: 11%
	}

	.footer_1 .newsletter .d_check {
		width: 18%;
		margin-top: 5px
	}



	.footer_2 .colaboradores {
		text-align: center
	}

	.footer_2 .colaboradores > div {
		display: block;
		float: none;
		margin-top: 10px
	}

}




@media ( min-width: 992px ){
	.apoyos {
		margin-top: 30px
	}

	.apoyos .row {
		margin-right: -15px;
		margin-left: -15px
	}

	.apoyos h2 {
		font-size: 18px
	}

	.apoyos .item {
		width: 16.66666666666667%
	}

	.apoyos .item a {
		border-bottom: 3px solid #d2d2d2;
		width: 130px
	}

	.apoyos .item > div:before {
		content: normal
	}
}




@media (max-width: 991px){

	.header .logo {
		vertical-align: -1px;
		max-width: 65px;
		margin-right: 6px;
		margin-top: 5px
	}

	.header .btn_menu {
		margin-left: 0
	}

	.header .fechas {
		max-width: 60px;
		margin-right: 0;
		margin-top: 5px
	}

	.header .fechas img {
		margin: 0
	}


	.footer {
		padding-bottom: 0
	}

	.footer_1 {
		background-color: #fc5226;
		padding-bottom: 10px
	}

	.footer_1 .seguinos {
		padding-left: 15px
	}

	.footer_1 .newsletter {
		text-align: left
	}

	.footer_1 .accesos > div a {
		color: white;
		padding-left: 30px
	}

	.footer_1 .accesos > div a span {
		color: #a43e21
	}

	.footer_1 .newsletter form,
	.footer_1 .newsletter form > div,
	.footer_1 .newsletter form > label,
	.footer_1 .newsletter form > label.d_check,
	.footer_1 .newsletter .multiselect + .btn-group,
	.footer_1 .newsletter form > label > *,
	.footer_1 .newsletter p {
		width: 100%
	}

	.footer_1 .newsletter form > label.d_check {
		padding: 0
	}

	.footer_1 .newsletter form > label.d_check span,
	.footer_1 .newsletter form > label.d_check input {
		width: auto;
		display: inline-block
	}

	.footer_1 .accesos a span {
		top: 0 !important
	} 

	.footer_1 .newsletter > p {
		text-align: center
	}

	.footer_1 .newsletter p.error {
		color: #1c3753;
		font-size: 14px;
		margin: 15px 0
	}

	.footer_1 .newsletter *[type="submit"] {
		margin: auto;
		width: 180px;
		text-align: center;
		display: block
	}

	.footer_1 .newsletter form > label {
		margin-bottom: 15px
	}

	.footer_1 .newsletter form > label > span {
		display: block;
		font-weight: 900;
		margin-bottom: 3px;
	}

	.footer_1 .accesos {
		padding-left: 15px
	}

	.footer_1 .accesos > div {
		width: 100%
	}

	.footer_2 {
		background-color: #f9f9f9
	}

	.footer .acceso_cace {
		background-color: #ffffff;
		text-align: center
	}

	.footer .acceso_cace h3 {
		display: inline-block;
		vertical-align: middle;
		margin: 0
	}

	.footer .acceso_cace h3 + a {
		display: inline-block;
		vertical-align: middle;
		max-width: 130px
	}

	.footer .acceso_cace > a {
		width: auto
	}

	.footer .acceso_cace > a img {
		max-width: 100%
	}

	.footer .acceso_cace > p {
		width: 100%;
		margin-top: 10px
	}

	.footer .colaboradores_mobile {
		text-align: center;
		padding-bottom: 15px
	}

	.footer .colaboradores_mobile a {
		display: block;
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #ebebeb
	}

	.footer .colaboradores_mobile a img {
		max-width: 100%
	}

	.footer .colaboradores {
		text-align: center;
		padding: 10px 0
	}

	.footer_2 .colaboradores {
		text-align: left
	}

	.footer_2 .acceso_cace_text,
	.footer_2 .acceso_cace_text a {
		color: #6d6d6d;
		font-family: 'Verdana';
		font-size: 10px;
		line-height: 16px
	}

	.footer_2 .acceso_cace_text a {
		text-decoration: underline
	}

	.footer_2 .colaboradores > p > a,
	.footer_2 .colaboradores > p > strong {
		color: #3a3a3a
	}

	.footer_2 .colaboradores > p strong {
		font-weight: 900
	}

	.footer .accesos > div {
		width: 100%;
		border-top: 1px solid #c14927;
		border-bottom: 1px solid #fa6b43;
		padding-top: 15px;
		padding-bottom: 10px;
		margin-top: 0
	}

	.footer .accesos > div:first-child {
		border: none;
		border-bottom: 1px solid #fa6b43
	}

	.footer .accesos > div:last-child {
		border-bottom: none
	}

	.footer .redes {
		margin: 0 auto 10px auto;
		width: 206px
	}

	.footer .fb-like {
		width: 206px;
		margin: auto;
		display: block
	}

	.footer ul.redes {
		width: 100%;
		text-align: center
	}

	.footer ul.redes li {
		border-color: white;
		border-width: 1px;
		padding: 4px 10px;
		height: 30px
	}

	.footer ul.redes li a {
		color: white
	}

	.footer ul.redes li.youtube a {
		padding-right: 0
	}

	.apoyos .item img {
		width: 100%
	}



	.cabecera {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: transparent;
	    z-index: 3
	}


	.banner {
    	background: url('../imgs/iconos/bg_banner_mobile_2.jpg') center bottom no-repeat;
        background-size: auto auto;
	    background-size: cover
	}

	#main > .banner {
		padding-top: 60px
	}

	
	.banner > .container:before {
	    height: 185px;
	}

	.banner > .container:before {
	    background-position: center top
	}

	.banner > .container:before {
	    background-image: url('../imgs/iconos/banner_mobile.png');
	    background-size: auto 165px;
	}

	.header .main_sponsors span {
	    color: white
	}


	.search_button {
	    margin-top: 170px;
	    margin-bottom: -20px
	}


}





@media (max-width: 767px){

	.header .cabecera {
		padding-top: 5px
	}

	.header .menu_mobile.sticky_header .buscador {
		width: 58%
	}

	.header .links {
		float: right
	}

	.header .main_sponsors {
		width: 375px;
		float: right;
		text-align: right
	}

	.header .main_sponsors span {
		width: 75px;
		text-align: right;
		margin: 0
	}

	.footer .colaboradores p {
		font-size: 13px
	}

}




@media (max-width: 550px){

	.cabecera .main_sponsors a {
		max-width: 50px;
		margin-left: 0
	}

	.header .main_sponsors span {
		font-size: 9px;
		width: 58px
	}

	.header .logo > a > img {
		max-height: 45px;
		max-width: 53px
	}



	.header .btn_menu {
		font-size: 22px;
		margin-top: 4px
	}

	.header > .cabecera > .container {
		padding-right: 48px
	}

}



@media (max-width: 340px){

	.header .links {
		width: 55%
	}

}








#error_page #main {
	background-color: #fc5226;
	padding-bottom: 20px
}

#error_page #main > .message {
	position: relative;
	height: 300px
}

#error_page #main .mensaje_error {
	padding: 0 15px;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%)
}

#error_page #main .mensaje_error .principal {
	font-size: 45px;
	margin-bottom: 30px
}

#error_page #main p {
	color: white;
	line-height: 30px;
	font-weight: bold;
	font-size: 30px
}

#error_page #main p span {
	font-weight: normal
}

#error_page .links .redes {
	margin-top: 10px
}



#error_page .header > .cabecera > .container {
	padding-right: 15px !important
}



@media (max-width: 1199px){

	#error_page .header .links {
		width: 100% !important
	}

}



@media (max-width: 992px){

	#error_page #main .mensaje_error .principal {
		font-size: 35px
	}

	#error_page #main p {
		font-size: 25px
	}


	.marcas div.marca .img_marca > div span {
		display: none
	}

	.marcas .marcas_content > div.item_marca {
		padding: 0 10px
	}

	.marcas div.marca {
		margin-bottom: 15px
	}

	.marcas div.marca .img_marca {
		border-width: 10px
	}

	.marcas .marcas_content.marcas_platinum div.marca .img_marca {
		border-width: 3px
	}

}





@media (max-width: 767px){

	.lista_marcas {
		max-width: calc(100% - 30px);
	}

	.marcas .marcas_content.marcas_home > div.item_marca {
		width: 100%;
		max-width: 340px;
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.marcas .marcas_content.marcas_black > div.item_marca {
		width: 50%
	}

	.marcas .marcas_content.marcas_platinum > div.item_marca {
		width: 33.33%
	}

}